.rank{color:#ff0000;font-weight:bold;text-align:center;font-size:14px}
.blue{color:#0000ff;font-weight:bold;text-align:center;font-size:14px}
.panel .table td, .panel .table th {
    padding: 5px 5px !important;
}
#lot_list .highlight {    background-color: red !important;color:#fff}
#lot_upcoming_table .highlight {    background-color: green !important;color:#fff}