:root {
	--main-bg-color: #004dda;
	--main-bg-dark-color: #003caa;
	--main-bg-light-color: #09d8ff;
  --main-bg-dark-btn:#011e54;
  --chat-text-bg: #f1f2f6;
  --theme-color: #0086ff;

	/* text shaddow */
	--main-text-shaddow-color: #00bfff;
	--main-btn-danger-color: coral;
  }
  
  .error{color:red;font-size:70%}
  .navbar-default .navbar-nav>li>a{
	font-weight:bold;
}
.form-group{margin-bottom:5px}

.hide{visibility:hidden}
.show{ visibility: visible;}

.color_box{
	position: relative;
}
.color_scheme{
	position: absolute;
	right: 2%;
    top: 25%;
}
.card_border{
	border: 1px solid #BDBDBD;
}
.badge-success{background:#5cb85c!important;}
.wrapper{
	padding: 2%;
}
.blue {
  background-color: #0086ff;
}
.btn_section{
	text-align: center;
    padding: 4%;
}
.clock_label{
	font-size: 10px;
}
.navbar .container{
		max-width: 1182px;
	}
.y-center{
	display: flex;
	align-items: center;
}	
.navbar-nav > li > a {
	line-height: 0px;
}
.icon_set{
	position: absolute;
    left: 3px;
    top: 21px;
}
.icon_1{
	position: absolute;
    left: 0px;
    top: 21px;
}
.icon_2{
	position: absolute;
    right: 0px;
    top: 21px;
}
.navbar {
	min-height: 56px;
}
.comp_name{
color:#fff;
line-height:44px;
font-size: 20px;
font-weight: bold;
/* padding-left: 2%; */
}
.nav_sec{
  float: right;    
  /* padding-left: 5%; */
}
#auc_cat_sec .dropdown-menu-category{
  position:absolute;
  right:0px;
}
.home_header {
  position:absolute;
  right:30px;
}
.table_scroll{
  max-height:300px;
  overflow-y:scroll;
}
.profile_dropdown{
  right: 0!important;
}
.about-intro{
  background-image:
  url(../../images/about_us/about.jpg);
  background-size: cover;
  background-position: center;
}

.targetDiv{
  display:none;
}
.targetDiv.target_active{
  display:block;
}
.faq .about-intro{
  background-image:
  url(../../images/faq.jpg);
  background-size: cover;
  background-position: center;
}

.faq-content .panel-heading{
  color: #2196f3;
}

.featuredbox .col-sm-3 {
  padding: 1%;
}
.featuredbox .inner {
  background-color: #1b2c92db;
  border-radius: 10px;
  padding: 10% 2%;
}
.featuredbox .inner i{
  font-size:40px;
}
.terms .about-intro{
  background-image:
  url(../../images/terms.jpg);
  background-size: cover;
  background-position: center;
}
/* .terms_bg{
  background-image:
  url(../../images/terms_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
.view_prod_banner{
  height: 175px!important;
}
.secure .about-intro{
  background-image:
  url(../../images/secure.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px){
.navbar-header {
padding-left: 0px!important;
}
.comp_name {
    line-height: 61px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 9%;
}
.nav_sec{
	float: none;
}
}

.page-bottom-info{background-color: #365271}
hr {
  border-color: #d9d9d9;
}
.table {
  margin-bottom: 0;
}
@media (max-width:992px) {
  .mobile-hidden {
    display: none;
  }
}
.global-wrapper {
  background: #ededed;
}

.full-width {
  width: 100%;
}
.rel {
  position: relative;
}

.drop-caret:before {
  content: '\f107';
  font-family: 'FontAwesome';
}

.navbar-main {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  background: #365271;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: relative;
  z-index: 10;
}
.navbar-main .navbar-nav > li:hover > a {
  background: #fff;
  color: #486d97;
}
.navbar-main .navbar-nav > li.open > a {
  background: #2b415b !important;
}
@media (max-width:992px) {
  .navbar-main .navbar-nav > li.open .dropdown-menu > li > a {
    color: #595959;
  }
}
.navbar-main .navbar-nav > li > a {
  color: #fff;
  padding: 28px 13px;
  border-radius:0px
}
@media (min-width:992px) {
  .navbar-main .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
.navbar-main .navbar-border > li {
  border-right: 1px solid #24364c;
}
.navbar-main .navbar-border > li:last-child {
  border-right: none;
}
.navbar-brand {
  padding: 15px;
}
.navbar-brand > img {
  width: 90px;
}
.navbar-item-top {
  margin-top: 12px;
}
.navbar-nav > li > a {
  font-size: 14px;
}
.navbar-nav > li > a > span {
  display: block;
  font-size: 11px;
  line-height: 1em;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  height: 10px;
  margin-bottom: 2px;
}
.navbar-nav > li > a:hover > span {
  color: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.navbar-main-white .navbar-nav > li > a > span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.navbar-main-white .navbar-nav > li > a:hover > span {
  color: #fff;
}
.navbar-nav-lg > li > a {
  font-size: 17px;
}
.navbar-pad {
  padding: 10px 0;
}
.navbar-pad-top {
  padding-top: 10px;
}
.navbar-sm-pad > li > a {
  padding: 5px 10px;
}
.navbar-theme-img {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 18%;
}
.navbar-theme-img > img {
  width: 100%;
}
@media (max-width:992px) {
  .navbar-theme-img {
    display: none;
  }
}
.navbar-before {
  padding: 7px;
  background: #4d4d4d;
  font-size: 13px;
}
.navbar-before .navbar-nav > li {
  margin-left: 10px;
}
.navbar-before .navbar-nav > li > a {
  font-size: 12px;
  padding: 0;
  color: #fff;
}
.navbar-before .navbar-nav > li > a:hover {
  background: none;
}
@media (max-width:992px) {
  .navbar-mob-item-left > li {
    float: left;
  }
}
.navbar-before-inverse {
  background: #486d97;
}
.navbar-before-sign {
  margin-bottom: 0;
  color: rgba(255,255,255,0.55);
}
@media (min-width:992px) {
  .navbar-collapse-no-pad {
    padding: 0;
    margin-left: -15px !important;
  }
}
@media (min-width:992px) {
  .navbar-brand-no-mar {
    margin: 0 !important;
  }
}
@media (min-width:992px) {
  .navbar-right-no-mar {
    margin: 0 !important;
  }
}
.navbar-main-white {
  background: #fff;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
}
@media (min-width:992px) {
  .navbar-main-white .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
.navbar-main-white .dropdown-menu {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  border-top: 2px solid #486d97;
}
.navbar-main-white .navbar-nav > li:hover > a {
  color: #fff;
  background: #486d97;
}
.navbar-main-white .navbar-main-search {
  -webkit-box-shadow: 0 0 0 1px #d9d9d9;
  box-shadow: 0 0 0 1px #d9d9d9;
}
.navbar-main-white .navbar-main-search-submit {
  background: #486d97;
  color: #fff;
}
.navbar-main-white .navbar-main-search-submit:hover {
  background: #486d97;
  color: whtie;
}
.navbar-first {
  z-index: 11;
}
.dropdown-menu {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 3;
}
.dropdown-menu-category {
  margin: 0;
  padding: 0;
  background: #fff !important;
}
.dropdown-menu-category > li {
  border-bottom: 1px solid #e6e6e6;
}
.dropdown-menu-category > li:last-child {
  border-bottom: none;
}
@media (min-width:992px) {
  .dropdown-menu-category > li:hover .dropdown-menu-category-section {
    display: block;
  }
}
.dropdown-menu-category > li:hover > a {
  background: #486d97;
  color: #fff;
}
.dropdown-menu-category > li:hover > a .dropdown-menu-category-icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropdown-menu-category > li > a {
  height: 40px;
  line-height: 40px !important;
  padding: 0 15px 0 50px !important;
  font-size: 14px;
  position: relative;
  width: 230px;
}
@media (max-width:992px) {
  .dropdown-menu-category > li > a {
    width: 100%;
  }
}
.dropdown-menu-category > li > a:after {
  position: absolute;
  display: block;
  content: '\f105';
  font-family: 'FontAwesome';
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
@media (max-width:992px) {
  .dropdown-menu-category > li > a:after {
    display: none;
  }
}
.dropdown-menu-theme-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  z-index: 1;
}
@media (max-width:992px) {
  .dropdown-menu-theme-image {
    display: none;
  }
}
.dropdown-menu-category-hold {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.dropdown-menu-category-hold > li > a {
  width: 100%;
}
.dropdown-menu-category-hold .dropdown-menu-category-section {
  left: 100%;
}
.dropdown-menu-category-sm > li > a {
  font-size: 13px;
  padding-left: 40px;
}
.dropdown-menu-category-sm .dropdown-menu-category-icon {
  width: 35px;
  font-size: 14px;
}
.dropdown-menu-category-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 45px;
  text-align: center;
  font-size: 16px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.dropdown-menu-category-list li{
  border-bottom: 1px solid #e6e6e6;
}
.dropdown-menu-category-list > li > a {
  height: 30px;
  line-height: 30px !important;
  padding: 0 15px 0 50px !important;
  font-size: 14px;
  position: relative;
  width: 230px;
}
.dropdown-menu-category-list i{  
  color:#cecccc;
  font-size: 15px;
}
.dropdown-menu-category-section {
  width: 250px;
  height: auto;
  position: absolute;
  top: 0;
  left: 230px;
  display: none;
  background: #fff;
  border-left: 1px solid #e6e6e6;
}
.dropdown-menu-category-section-inner {
  position: relative;
  height: 100%;
}
.dropdown-menu-category-section-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}
.dropdown-menu-category-section-theme-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.dropdown-menu-category-title {
  font-weight: 500;
  color: #486d97;
  font-size: 20px;
}
.dropdown-menu-category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.dropdown-menu-category-list > li {
  margin-bottom: 10px;
}
.dropdown-menu-category-list > li > a {
  color: #595959;
}
.dropdown-menu-category-list > li > a:hover {
  text-decoration: none;
  color: #486d97;
}
.dropdown-menu-category-list > li > p {
  font-size: 11px;
  color: #9b9b9b;
  margin: 0;
}
.dropdown-menu-shipping-cart {
  width: 300px;
}
.dropdown-menu-shipping-cart > li {
  overflow: hidden;
  padding: 15px;
}
.dropdown-menu-shipping-cart > li:nth-child(even) {
  background: #f7f7f7;
}
.dropdown-menu-shipping-cart-img {
  float: left;
  width: 50px;
  display: block;
  margin-right: 10px;
  padding: 0 !important;
}
.dropdown-menu-shipping-cart-img > img {
  width: 100%;
}
.dropdown-menu-shipping-cart-inner {
  display: table;
}
.dropdown-menu-shipping-cart-price {
  font-weight: 500;
  color: #486d97;
  margin-bottom: 0;
}
.dropdown-menu-shipping-cart-item {
  margin-bottom: 0;
  font-size: 13px;
}
.dropdown-menu-shipping-cart-item > a {
  color: #6a6a6a;
}
.dropdown-menu-shipping-cart-item > a:hover {
  text-decoration: none;
}
.dropdown-menu-shipping-cart-total {
  font-weight: 500;
  font-size: 17px;
  float: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 0;
}
.dropdown-menu-shipping-cart-checkout {
  float: right;
}
.dropdown-menu-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-menu-items-list > li {
  margin-bottom: 7px;
}
.dropdown-menu-items-list > li > a {
  color: #333;
}
.dropdown-menu-items-list > li > a:hover {
  color: #486d97;
  text-decoration: none;
}
@media (max-width:992px) {
  .dropdown-menu-items-list {
    margin-bottom: 20px;
  }
}
.dropdown-menu-items-list-desc {
  font-size: 11px;
  margin-bottom: 0;
  color: #a6a6a6;
}
.navbar-main-search {
  width: 500px;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-main-search .form-group {
  display: block;
}
.navbar-main-search .form-control {
  width: 100%;
  border: none;
}
.navbar-main-search .form-control:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width:992px) {
  .navbar-main-search {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }
}
.navbar-main-search-submit {
  position: absolute;
  background: #e6e6e6;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #595959;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.navbar-main-search-submit:hover {
  text-decoration: none;
}
.navbar-main-search-category {
  width: 770px;
}
.navbar-main-search-category .form-control {
  padding-left: 150px;
}
@media (max-width:992px) {
  .navbar-main-search-category {
    width: 100%;
  }
  .navbar-main-search-category .form-control {
    padding-left: 60px;
  }
}
.navbar-main-search-category-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 34px;
  line-height: 34px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border: none;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  background: #fff;
  font-size: 13px;
  color: #808080;
}
.navbar-main-search-category-select:focus {
  outline: none;
}
.navbar-main-search-category-select option {
  background: #fff;
  padding: 7px 0;
}
@media (max-width:992px) {
  .navbar-main-search-category-select {
    width: 55px;
  }
}
.main-header {
  background: #365271;
  height: 60px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  position: relative;
  border-bottom: 1px solid #324c6a;
}
.main-header-logo {
  display: block;
  margin-top: 17px;
}
.main-header-search {
  position: relative;
  margin-top: 15px;
}
.main-header-search-input {
  width: 100%;
  padding: 5px 7px;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.main-header-search-input:focus {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.55);
  box-shadow: 0 2px 10px rgba(0,0,0,0.55);
}
.main-header-search-submit {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  height: 30px;
  line-height: 30px;
  width: 40px;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
.main-header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
}
.main-header-list > li {
  float: left;
}
.main-header-list > li > a {
  position: relative;
  padding: 0 8px;
  color: rgba(255,255,255,0.85);
  display: block;
  height: 60px;
  line-height: 60px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.main-header-list > li > a .fa {
  margin-right: 6px;
}
.main-header-list > li > a:before {
  width: 1px;
  height: 25%;
  background: rgba(255,255,255,0.25);
  content: '';
  position: absolute;
  top: 37%;
  left: 0;
}
.main-header-list > li > a:hover {
  text-decoration: none;
  color: #fff;
}
.main-header-list > li:first-child > a {
  padding-left: 0;
}
.main-header-list > li:first-child > a:before {
  display: none;
}
.main-header-list > li:last-child > a {
  padding-right: 0;
}
.main-header-cart .fa {
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: block;
  text-align: center;
  float: right;
  font-size: 25px;
}
.main-header-cart .fa:hover {
  text-decoration: none;
}
.main-header-logo-center {
  text-align: center;
}
.main-header-logo-center > a {
  display: block;
  margin: 20px auto;
  width: 75px;
}
.main-header-logo-center > a > img {
  display: block;
  width: 100%;
}
.main-header-input-center {
  position: relative;
}
.main-header-input-center > input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 7px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.main-header-input-center > input:focus {
  outline: none;
}
.main-header-input-center-btn {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  height: 37px;
  line-height: 37px;
  padding: 0 40px;
  background: #486d97;
  color: #fff;
  display: block;
  font-size: 16px;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.main-header-input-center-btn:hover {
  color: #fff;
  text-decoration: none;
}
.main-header-input-center-btn > .fa {
  margin-right: 5px;
  position: relative;
  top: -1px;
  font-size: 14px;
}
@media (max-width:992px) {
  .main-header-input-center-btn {
    padding: 0 10px;
  }
}
.navbar-center {
  text-align: center;
  width: 100%;
}
.navbar-center > li {
  margin: 0 7px;
  float: none;
  display: inline-block;
}
@media (max-width:992px) {
  .navbar-center {
    text-align: left;
  }
  .navbar-center > li {
    display: block;
  }
}
.navbar-border > li {
  border-right: 1px solid #d9d9d9;
}
.navbar-border > li:first-child {
  border-left: 1px solid #d9d9d9;
}
.navbar-item-icon {
  margin-right: 7px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.navbar-nav > li:hover .navbar-item-icon {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
/****** Mega Navigation ******/
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
  background: #fff;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  padding: 0;
}
.yamm-content {
  position: relative;
}
.yamm-content > .row {
  position: relative;
  z-index: 2;
}
/****** End of Mega Navigation ******/
.drop-caret {
  position: absolute;
  top: 50%;
  right: 20px;
  background: rgba(0,0,0,0.5);
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-style: normal;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.drop-caret:before {
  content: '\f107';
  font-family: 'FontAwesome';
}
@media (min-width:992px) {
  .drop-caret {
    display: none;
  }
}
  
  .tooltip-inner {
  	  font-size:10px;
      background-color: #efefef; 
      color: #000;
      border: 1px solid #000;
  }
.progress.sm, .progress-sm {
    height: 10px;
}

/* user card*/

.card {
    padding:-20px -15px;
    margin: 0px;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 0px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("img/card_bg.jpg");
    background-size: cover;
    height: 100px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}


/* =================== end user card ==============*/


.navbar-default .navbar-nav>li>a{	font-weight:bold;}

.color_box{	position: relative;}
.color_scheme{	position: absolute;	right: 2%;    top: 25%;}
.card_border{	border: 1px solid #BDBDBD;}
.wrapper{	padding: 2%;}
.btn_section{	text-align: center;    padding: 4%;}
.clock_label{	font-size: 10px;}

/*Panels (Portlets)
------------------------------------*/
.panel-heading {
  color: #fff;  
  padding: 5px 15px;
}

/*Panel Table*/
.panel .table {
  margin-bottom: 0;
}

/*Panel Unify*/
.panel-u {
   border-color: #72c02c;
}

.panel-u > .panel-heading {
   background: #72c02c;
}

/*Panel Blue*/
.panel-blue {
   border-color: #3498db;
}

.panel-blue > .panel-heading {
   background: #3498db;
}

/*Panel Red*/
.panel-red {
   border-color: #e74c3c;
}

.panel-red > .panel-heading {
   background: #e74c3c;
}

/*Panel Green*/
.panel-green {
   border-color: #2ecc71;
}

.panel-green > .panel-heading {
   background: #2ecc71;
}

/*Panel Sea*/
.panel-sea {
   border-color: #1abc9c;
}

.panel-sea > .panel-heading {
   background: #1abc9c;
}

/*Panel Orange*/
.panel-orange {
   border-color: #e67e22;
}

.panel-orange > .panel-heading {
   background: #e67e22;
}

/*Panel Yellow*/
.panel-yellow {
    border-color: #f1c40f;
}

.panel-yellow > .panel-heading {
     background: #f1c40f;
}

/*Panel Grey*/
.panel-grey {
   border-color: #95a5a6;
}

.panel-grey > .panel-heading {
   background: #95a5a6;
}

/*Panel Dark*/
.panel-dark {
   border-color: #555;
}

.panel-dark > .panel-heading {
   background: #555;
}

/*Panel Purple*/
.panel-purple {
   border-color: #9b6bcc;
}

.panel-purple > .panel-heading {
   background: #9b6bcc;
}

/*Panel Aqua*/
.panel-aqua {
   border-color: #27d7e7;
}

.panel-aqua > .panel-heading {
   background: #27d7e7;
}

/*Panel Brown*/
.panel-brown {
   border-color: #9c8061;
}

.panel-brown > .panel-heading {
   background: #9c8061;
}

/*Panel Dark Blue*/
.panel-dark-blue {
   border-color: #4765a0;
}

.panel-dark-blue > .panel-heading {
   background: #4765a0;
}

/*Panel Light Green*/
.panel-light-green {
   border-color: #79d5b3;
}

.panel-light-green > .panel-heading {
   background: #79d5b3;
}

/*Panel Default Dark*/
.panel-default-dark {
   border-color: #585f69;
}

.panel-default-dark > .panel-heading {
   background: #585f69;
}

/* icons */
.social-icon{font-size:18px}
.social-icon ul li{display: inline-block;    margin-left:-2px;color:#fff;}
.social-icon ul li  a{color:#fff;}
.social-icon a{display:block;color:#fff;text-decoration:none;width:25px;height:25px;text-align:center;color:#fff;transition:all 250ms ease 0s;background:#EFEFEF;}
.social-icon .twitter{background-color:#47C0D8}
.social-icon .twitter:hover{border-radius:10px}
.social-icon .facebook{background-color:#49699F}
.social-icon .facebook:hover{border-radius:10px}
.social-icon .dribble{background-color:#E65992}
.social-icon .dribble:hover{border-radius:10px}
.social-icon .youtube{background-color:#B72D24}
.social-icon .youtube:hover{border-radius:10px}
.social-icon .rss{background-color:#FE9900}
.social-icon .rss:hover{border-radius:10px}
.footer-service a{color:#fff}
.page-bottom-info-inner a{color:#fff}



/*Spaces
------------------------------------*/
.padding-left-0{padding-left:0px!important}
.margin-left-5 { margin-left: 5px;}
.margin-right-5 { margin-right: 5px;}
.no-top-space { margin-top: 0; padding-top: 0;}
.no-bottom-space { margin-bottom: 0; padding-bottom: 0;}
.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60 { clear:both;}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

@media screen and (max-width: 480px) {
	.product {
	height:300px;
	width:100%;
	margin-top: 0;
	margin-bottom:10px;
	text-align:center;
	border:1px solid #efefef;
	box-shadow: 0 0 8px #ddd;
	transition: box-shadow 0.2s ease-in-out 0s;
	overflow:hidden}
	.product_img{height:200px!important}
	
	.product_img a img{max-height:200px!important}
	.product_img a img.img-thumbnail{border:none}

	 }
@media (max-width: 768px) {
	
	.sm-margin-bottom-10 { margin-bottom: 10px;}
	.sm-margin-bottom-20 { margin-bottom: 20px;}
	.sm-margin-bottom-30 { margin-bottom: 30px;}
	.sm-margin-bottom-40 { margin-bottom: 40px;}
	.sm-margin-bottom-50 { margin-bottom: 50px;}
	.sm-margin-bottom-60 {margin-bottom: 60px;}
	
	.sd-margin-bottom-10 {margin-bottom: 10px;}
	.sd-margin-bottom-20 {margin-bottom: 20px;}
	.sd-margin-bottom-30 {margin-bottom: 30px;}
	.sd-margin-bottom-40 {margin-bottom: 40px;}
	.sd-margin-bottom-50 { margin-bottom: 50px;}
	.sd-margin-bottom-60 { margin-bottom: 60px;}
	.container-fluid{padding-left:0px;padding-right:0px}
	.product {
	height:300px;
	width:100%;
	margin-top: 0;
	margin-bottom:10px;
	text-align:center;
	border:1px solid #efefef;
	box-shadow: 0 0 8px #ddd;
	transition: box-shadow 0.2s ease-in-out 0s;
	overflow:hidden}
	.product_img{height:180px!important;text-align: center}
	
	.product_img a img{max-height:180px!important}
	.product_img a img.img-thumbnail{border:none}
}

/*Text Colors
------------------------------------*/
.color-white { color: #fff;}
.color-sea { color: #1abc9c;}
.color-red { color: #e74c3c;}
.color-aqua { color: #27d7e7;}
.color-blue { color: #3498db;}
.color-grey { color: #95a5a6;}
.color-dark { color: #555555;}
.color-green { color: #72c02c;}
.color-brown { color: #9c8061;}
.color-light { color: #ffffff;}
.color-orange { color: #e67e22;}
.color-green1 { color: #2ecc71;}
.color-purple { color: #9b6bcc;}
.color-dark-blue { color: #4765a0;}
.color-light-grey { color: #585f69;}
.color-light-green { color: #79d5b3;}

/*Background Colors
------------------------------------*/
.bg-color-dark,
.bg-color-sea,
.bg-color-red,
.bg-color-aqua,
.bg-color-blue,
.bg-color-grey,
.bg-color-green,
.bg-color-brown,
.bg-color-orange,
.bg-color-green1,
.bg-color-purple,
.bg-color-dark-blue,
.bg-color-light-grey,
.bg-color-light-green {
  color: #fff;
}
.bg-color-dark { background-color: #555;}
.bg-color-sea { background-color: #1abc9c;}
.bg-color-red { background-color: #e74c3c;}
.bg-color-aqua { background-color: #27d7e7;}
.bg-color-blue { background-color: #3498db;}
.bg-color-grey { background-color: #95a5a6;}
.bg-color-green { background-color: #72c02c;}
.bg-color-brown { background-color: #9c8061;}
.bg-color-orange { background-color: #e67e22;}
.bg-color-green1 { background-color: #2ecc71;}
.bg-color-purple { background-color: #9b6bcc;}
.bg-color-dark-blue { background-color: #4765a0;}
.bg-color-light-grey { background-color: #585f69;}
.bg-color-light-green { background-color: #79d5b3;}


/*Rounded and Circle Classes
------------------------------------*/
.rounded { border-radius: 4px !important;}
.rounded-x { border-radius: 50% !important;}
.rounded-2x { border-radius: 10px !important;}
.rounded-3x { border-radius: 15px !important;}
.rounded-4x { border-radius: 20px !important;}
.rounded-top { border-radius: 4px 4px 0 0 !important;}
.rounded-left { border-radius: 4px 0 0 4px !important;}
.rounded-right { border-radius: 0 4px 4px 0 !important;}
.rounded-bottom { border-radius: 0 0 4px 4px !important;}


/**---css for auction listing page--
* @18-07-2020 
*/

.product-labels {
  position: absolute;
  top: 23px;
  left: -3px;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.product-labels > li {
  background: var(--main-bg-color);
  color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  padding: 5px 10px;
  line-height: 1em;
  margin-bottom: 5px;
  display: table;
}

.item-list.make-grid {
  width: 23%;
}

.item-list {
  box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  margin: 7.5px;
  background-color: #fff;
  border-radius: 5px;
}

.adds-wrapper { 
   background: #EEEEEE;
}

.live-btn {
  background-color: #00c851;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1500ms infinite;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
} 
/*
product listing  start
*/
  /* rotate icon */
  .rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    }
    .rotate.down i{
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
/* rotate icon end */
    /* card style */
    .add-details{
        padding-bottom: 0px;
    }
    .right_drop ul.dropdown-menu {
        box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        right: 0px!important;
        float: none;
        background-color: #fff!important;
        width: 120%;
    }
    .right_drop ul.dropdown-menu li a {
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 40px !important;
    padding: 0 15px 0 50px !important;
    font-size: 14px;
    width: 100%;
}
.add-details{
    width: 100%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
    .material_cat ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -6px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 69px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    box-shadow: none;
}
.btn {
    padding: 6px 12px;
}
.compose_msg .richText .richText-editor {
  height: 200px;
}
.chatbox .richText .richText-editor {
  height: 100px;
}
.compose_msg{
  height: 400px;
}
.image-upload > input
{
    display: none;
}

.image-upload i
{
    font-size: 40px;
    color: #337ab7;
    cursor: pointer;
    margin-top: 33px;
}
.live-btn {
  background-color: #00c851;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
   
    @-webkit-keyframes glowing {
  0% { background-color: #007f15; -webkit-box-shadow: 0 0 3px #007f15; }
  50% { background-color: #00c851; -webkit-box-shadow: 0 0 10px #00c851; }
  100% { background-color: #007f15; -webkit-box-shadow: 0 0 3px #007f15; }
}

@-moz-keyframes glowing {
  0% { background-color: #007f15; -moz-box-shadow: 0 0 3px #007f15; }
  50% { background-color: #00c851; -moz-box-shadow: 0 0 10px #00c851; }
  100% { background-color: #007f15; -moz-box-shadow: 0 0 3px #007f15; }
}

@-o-keyframes glowing {
  0% { background-color: #007f15; box-shadow: 0 0 3px #007f15; }
  50% { background-color: #00c851; box-shadow: 0 0 10px #00c851; }
  100% { background-color: #007f15; box-shadow: 0 0 3px #007f15; }
}

@keyframes glowing {
  0% { background-color: #007f15; box-shadow: 0 0 3px #007f15; }
  50% { background-color: #00c851; box-shadow: 0 0 10px #00c851; }
  100% { background-color: #007f15; box-shadow: 0 0 3px #007f15; }
}

.live-btn {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
     
    .product-labels {
    position: absolute;
    top: 23px;
    left: -3px;
    z-index: 3;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}
.product-labels > li {
    background: var(--main-bg-color);
    color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    padding: 5px 10px;
    line-height: 1em;
    margin-bottom: 5px;
    display: table;
}
    .start_time_icon {
    color: #00c851;
    font-size: 1.5rem;
    }
    .end_time_icon {
        color: #fd5555;
        font-size: 1.5rem;
    }
    .mt-10{
        margin-top: 10px;
    }

    .time_label {
    font-size: 1rem;
    font-weight: bold;
    }
    .item-list{
        position: relative;
    }
    /* .list-container{
    } */
    .item-list{
        box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        margin:7.5px;
    }
    
    #material-list li {
    border-radius: 0.8rem;
    background: #fff;
    color: #000;
    margin: 0.3rem 0rem;
    font-size: 1.1rem;
    padding: 0rem 0.5rem 0rem;
    border: 0.1rem solid;
    cursor: pointer;
    list-style: none;
}
    /* card style end */

.navbar-right{
  margin-top: 0px;
}
.navbar-form{
  margin: 0px;
}

/* button styling */

button.btn-custom{
    margin: 2em;
    /* color: #33313b; */
    cursor: pointer;
    padding: 0;
    display: grid;
    align-content: center;
    justify-content: center;

}
button.btn-custom:active{
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.06),
    inset -3px -3px 9px rgba(255, 255, 255, 1);
}
.btn-style{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: .9em;
  background-color: #F5F5F5;
  border-style: none;
  outline:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 12px;
  font-size: 1.1em;
  width: 4em;
  height: 4em;
  border-radius: 25%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08), -3px -3px 8px rgba(255, 255, 255, 1);
  font-size: 17px;
}
.btn-style i {
  font-size: 25px;
  margin-bottom: 5px;
}
.btn-style span{
  overflow: hidden;
  text-overflow: ellipsis; 
}
.btn_red{
    color: #eb566f;
}
.btn_blue{
    color: #8c92ff;
}
.btn_green{
    color: #36be0c;
}
/* button styling end*/

  #navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  .main-container{
    /* padding-top: 100px; */
    padding-bottom: 30px;
  }
  @media (max-width: 767px) {
  .navbar-header{
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 15%;
  }
#open_nav{
  position: absolute;
  top:0%;
  left: 7%;
  z-index: 10;
}
.container-fluid{
  position: relative;
}
#sider{
  position: fixed;
  width: 100%;
  z-index: 10;
display: none;
}
}
.slider_img img{
  width:100%!important;
  height:150px!important;
}
.bx-viewport{
  height:380px;
}
.bxslider li img{
  width:100%;
  height:380px;

}
/* mail inbox template start */
	/* Flat UI Colors */
  .alizarin {
    color: #e74c3c !important;
  }

  .clearfix:after, div#window section.emails div.content ul.emails-list li:after {
    content: "";
    display: table;
    clear: both;
  }

  div#window section.menu div.mail_header {
    border-color: #f2f2f2;
  }
  div#window section.menu div.content {
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
 
  div#window section.menu div.content ul {
    margin-top: 20px;
    text-align: left;
    width: 100%;
  }
  div#window section.menu div.content ul#categories li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 10px 10px;
    position: relative;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease;
  }
  div#window section.menu div.content ul#categories li:hover {
    background: whitesmoke;
  }
  .selected {
    color: #3498db;
    background-color: white!important;
  }
 
  div#window section.menu div.content ul#categories li.selected span.badge {
    background: #3498db;
    color: white !important;
  }
  div#window section.menu div.content ul#categories li .svg {
    height: 18px;
    margin-right: 8px;
    position: relative;
    top: 3px;
    width: 18px;
  }
  div#window section.menu div.content ul#categories li span.badge {
    background: #e6e6e6;
    border-radius: 6px;
    color: #999999;
    font-size: 12px;
    padding: 6px 8px 4px;
    position: absolute;
    right: 25px;
    top: 10px;
  }

  div#window section.menu div.content ul#custom-categories li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 25px 10px 54px;
    position: relative;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease;
  }
  div#window section.menu div.content ul#custom-categories li:hover {
    background: whitesmoke;
  }
 
  div#window section.emails {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }
  

  #emails-list{
    max-height: 545px;
    overflow-y: auto;
  }
  
  div#window section.emails div.content ul.emails-list li > div {
    float: left;
    height: 100%;
  }

  .sub_title {
    padding: 10px;
    position: relative;
    width: calc(100% - 30px);
    border-bottom: 1px solid #f2f2f2;
  }
  
  .sub_title p {
    color: #999999;
  }
  .sub_title p.sender {
    font-size: 14px;
    font-weight: 600;
  }
  .sub_title p.bread-text-preview {
    font-size: 13px;
    width: calc(100% - 70px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sub_title p.recieved {
    bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
  }
  .sub_title h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin: 8px 0;
    width: calc(100% - 70px);
  }
  
  div#window section.preview {
    height: 100%;
    position: relative;
  }
 
  div#window section.preview div.mail_header {
    border-color: #f2f2f2;
  }
  
  div#window section.preview div.content-wrap {
    max-height: 545px;
    overflow-y: auto;
    position: relative;
    width: 100%;
  }
  div#window section.preview div.content-wrap div.quick-actions {
    position: absolute;
    right: 40px;
    top: 30px;
  }

  div#window section.preview div.content-wrap div.content {
    padding: 40px 40px 40px;
    position: relative;
  }
  div#window section.preview div.content-wrap div.content h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0 25px;
  }
  div#window section.preview div.content-wrap div.content p.date {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
  }
  div#window section.preview div.content-wrap div.content p.bread-text {
    color: #333333;
    line-height: 1.5;
    text-align: justify;
    white-space: pre-line;
  }
  div#window section.preview div.actions {
    margin-top: 20px;
    padding-left: 40px;
  }
  div#window section.preview div.actions button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    padding: 10px 24px;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease;
  }
   button.primary {
    background: #3498db;
    color: white;
  }
   button.primary:hover {
    background: #258cd1;
  }
   button.secondary {
    background: #cccccc;
    color: #666666;
  }
   button.secondary:hover {
    background: #bfbfbf;
  }
  div#window section div.mail_header {
    border-bottom: 2px solid #e6e6e6;
    height: 50px;
  }
  div#window section div.mail_header div.logo-wrap {
    cursor: default;
    float: left;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 12px 15px 8px;
    text-transform: uppercase;
  }
  div#window section div.mail_header div.logo-wrap .svg {
    cursor: default;
    height: 20px;
    position: relative;
    top: 3px;
    width: 20px;
  }
  div#window section div.mail_header div.logo-wrap .svg * {
    stroke: #3498db;
  }
  div#window section div.mail_header div.icon-wrap {
    float: right;
    padding: 18px 18px 14px 0;
  }
  div#window section div.mail_header div.icon-wrap .svg {
    margin-left: 18px;
  }
  /* chatbox start*/
  .chat-area {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}
.chat-area-main {
  flex-grow: 1;
}
.chat-msg {
  display: flex;
  padding: 0 20px 45px;
}
.chat-msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-msg-text {
  background-color: var(--chat-text-bg);
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
}
.chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}

.chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
}
.owner .chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  align-items: flex-end;
}
.owner .chat-msg-text {
  background-color: var(--theme-color);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}
.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 16px 16px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  border: none;
}
  /* chatbox end*/

/* mail inbox template end   */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.scrollit{
  overflow-y:scroll;
  height:300px;
}
.tableWrapper { height: 100%; overflow: auto; width: 100%; }
#loading { display:none; color:green; font-size:20px; }

/*product listing end*/
.looking_for .selecter-selected{
  height: 48px;
  color:gray!important;
  border-radius: 0px!important;
}
blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite condemned_blink_effect;
}
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect { 
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
 