.shape {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	height: 42px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 42px;
}
.ln-shadow-logo {
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 100%;
	height: 52px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 52px;
	margin-top: -8px;
}
.ln-shadow {
	background-color: var(--main-bg-color);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	height: 42px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 42px;
	text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);
		-webkit-text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);
				-moz-text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);

}
.shape-0 {
	text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);
		-moz-text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);

	-webkit-text-shadow: 1px 1px var(--main-bg-dark-color), 2px 2px var(--main-bg-dark-color), 3px 3px var(--main-bg-dark-color), 4px 4px var(--main-bg-dark-color), 5px 5px var(--main-bg-dark-color), 6px 6px var(--main-bg-dark-color), 7px 7px var(--main-bg-dark-color), 8px 8px var(--main-bg-dark-color), 9px 9px var(--main-bg-dark-color), 10px 10px var(--main-bg-dark-color), 11px 11px var(--main-bg-dark-color), 12px 12px var(--main-bg-dark-color), 13px 13px var(--main-bg-dark-color), 14px 14px var(--main-bg-dark-color), 15px 15px var(--main-bg-dark-color), 16px 16px var(--main-bg-dark-color), 17px 17px var(--main-bg-dark-color), 18px 18px var(--main-bg-dark-color), 19px 19px var(--main-bg-dark-color), 20px 20px rgb(21, 152, 126), 21px 21px rgb(21, 153, 127), 22px 22px rgb(21, 154, 128), 23px 23px rgb(21, 155, 129), 24px 24px rgb(21, 156, 129), 25px 25px rgb(21, 157, 130), 26px 26px rgb(21, 158, 131), 27px 27px rgb(21, 159, 132), 28px 28px var(--main-bg-color);

	background-color: var(--main-bg-color);
}
.shape-1 {
	text-shadow: 1px 1px rgb(62, 158, 102), 2px 2px rgb(62, 159, 102), 3px 3px rgb(62, 159, 103), 4px 4px rgb(62, 160, 103), 5px 5px rgb(63, 160, 103), 6px 6px rgb(63, 161, 104), 7px 7px rgb(63, 162, 104), 8px 8px rgb(63, 162, 104), 9px 9px rgb(64, 163, 105), 10px 10px rgb(64, 163, 105), 11px 11px rgb(64, 164, 105), 12px 12px rgb(64, 164, 106), 13px 13px rgb(64, 165, 106), 14px 14px rgb(65, 166, 107), 15px 15px rgb(65, 166, 107), 16px 16px rgb(65, 167, 107), 17px 17px rgb(65, 167, 108), 18px 18px rgb(66, 168, 108), 19px 19px rgb(66, 168, 108), 20px 20px rgb(66, 169, 109), 21px 21px rgb(66, 170, 109), 22px 22px rgb(67, 170, 109), 23px 23px rgb(67, 171, 110), 24px 24px rgb(67, 171, 110), 25px 25px rgb(67, 172, 110), 26px 26px rgb(67, 172, 111), 27px 27px rgb(68, 173, 111), 28px 28px rgb(68, 174, 112), 29px 29px rgb(68, 174, 112), 30px 30px rgb(68, 175, 112), 31px 31px rgb(69, 175, 113), 32px 32px rgb(69, 176, 113), 33px 33px rgb(69, 176, 113), 34px 34px rgb(69, 177, 114), 35px 35px rgb(70, 178, 114), 36px 36px rgb(70, 178, 114), 37px 37px rgb(70, 179, 115), 38px 38px rgb(70, 179, 115), 39px 39px rgb(70, 180, 115), 40px 40px rgb(71, 180, 116), 41px 41px rgb(71, 181, 116), 42px 42px rgb(71, 182, 117), 43px 43px rgb(71, 182, 117), 44px 44px rgb(72, 183, 117), 45px 45px rgb(72, 183, 118), 46px 46px rgb(72, 184, 118), 47px 47px rgb(72, 184, 118), 48px 48px rgb(72, 185, 119), 49px 49px rgb(73, 186, 119), 50px 50px rgb(73, 186, 119), 51px 51px rgb(73, 187, 120), 52px 52px rgb(73, 187, 120), 53px 53px rgb(74, 188, 120), 54px 54px rgb(74, 188, 121), 55px 55px rgb(74, 189, 121), 56px 56px rgb(74, 190, 122), 57px 57px rgb(75, 190, 122), 58px 58px rgb(75, 191, 122), 59px 59px rgb(75, 191, 123), 60px 60px rgb(75, 192, 123), 61px 61px rgb(75, 192, 123), 62px 62px rgb(76, 193, 124), 63px 63px rgb(76, 194, 124), 64px 64px rgb(76, 194, 124), 65px 65px rgb(76, 195, 125), 66px 66px rgb(77, 195, 125), 67px 67px rgb(77, 196, 125), 68px 68px rgb(77, 196, 126), 69px 69px rgb(77, 197, 126), 70px 70px rgb(78, 198, 127);
		-webkit-text-shadow: 1px 1px rgb(62, 158, 102), 2px 2px rgb(62, 159, 102), 3px 3px rgb(62, 159, 103), 4px 4px rgb(62, 160, 103), 5px 5px rgb(63, 160, 103), 6px 6px rgb(63, 161, 104), 7px 7px rgb(63, 162, 104), 8px 8px rgb(63, 162, 104), 9px 9px rgb(64, 163, 105), 10px 10px rgb(64, 163, 105), 11px 11px rgb(64, 164, 105), 12px 12px rgb(64, 164, 106), 13px 13px rgb(64, 165, 106), 14px 14px rgb(65, 166, 107), 15px 15px rgb(65, 166, 107), 16px 16px rgb(65, 167, 107), 17px 17px rgb(65, 167, 108), 18px 18px rgb(66, 168, 108), 19px 19px rgb(66, 168, 108), 20px 20px rgb(66, 169, 109), 21px 21px rgb(66, 170, 109), 22px 22px rgb(67, 170, 109), 23px 23px rgb(67, 171, 110), 24px 24px rgb(67, 171, 110), 25px 25px rgb(67, 172, 110), 26px 26px rgb(67, 172, 111), 27px 27px rgb(68, 173, 111), 28px 28px rgb(68, 174, 112), 29px 29px rgb(68, 174, 112), 30px 30px rgb(68, 175, 112), 31px 31px rgb(69, 175, 113), 32px 32px rgb(69, 176, 113), 33px 33px rgb(69, 176, 113), 34px 34px rgb(69, 177, 114), 35px 35px rgb(70, 178, 114), 36px 36px rgb(70, 178, 114), 37px 37px rgb(70, 179, 115), 38px 38px rgb(70, 179, 115), 39px 39px rgb(70, 180, 115), 40px 40px rgb(71, 180, 116), 41px 41px rgb(71, 181, 116), 42px 42px rgb(71, 182, 117), 43px 43px rgb(71, 182, 117), 44px 44px rgb(72, 183, 117), 45px 45px rgb(72, 183, 118), 46px 46px rgb(72, 184, 118), 47px 47px rgb(72, 184, 118), 48px 48px rgb(72, 185, 119), 49px 49px rgb(73, 186, 119), 50px 50px rgb(73, 186, 119), 51px 51px rgb(73, 187, 120), 52px 52px rgb(73, 187, 120), 53px 53px rgb(74, 188, 120), 54px 54px rgb(74, 188, 121), 55px 55px rgb(74, 189, 121), 56px 56px rgb(74, 190, 122), 57px 57px rgb(75, 190, 122), 58px 58px rgb(75, 191, 122), 59px 59px rgb(75, 191, 123), 60px 60px rgb(75, 192, 123), 61px 61px rgb(75, 192, 123), 62px 62px rgb(76, 193, 124), 63px 63px rgb(76, 194, 124), 64px 64px rgb(76, 194, 124), 65px 65px rgb(76, 195, 125), 66px 66px rgb(77, 195, 125), 67px 67px rgb(77, 196, 125), 68px 68px rgb(77, 196, 126), 69px 69px rgb(77, 197, 126), 70px 70px rgb(78, 198, 127);
		
			-moz-text-shadow: 1px 1px rgb(62, 158, 102), 2px 2px rgb(62, 159, 102), 3px 3px rgb(62, 159, 103), 4px 4px rgb(62, 160, 103), 5px 5px rgb(63, 160, 103), 6px 6px rgb(63, 161, 104), 7px 7px rgb(63, 162, 104), 8px 8px rgb(63, 162, 104), 9px 9px rgb(64, 163, 105), 10px 10px rgb(64, 163, 105), 11px 11px rgb(64, 164, 105), 12px 12px rgb(64, 164, 106), 13px 13px rgb(64, 165, 106), 14px 14px rgb(65, 166, 107), 15px 15px rgb(65, 166, 107), 16px 16px rgb(65, 167, 107), 17px 17px rgb(65, 167, 108), 18px 18px rgb(66, 168, 108), 19px 19px rgb(66, 168, 108), 20px 20px rgb(66, 169, 109), 21px 21px rgb(66, 170, 109), 22px 22px rgb(67, 170, 109), 23px 23px rgb(67, 171, 110), 24px 24px rgb(67, 171, 110), 25px 25px rgb(67, 172, 110), 26px 26px rgb(67, 172, 111), 27px 27px rgb(68, 173, 111), 28px 28px rgb(68, 174, 112), 29px 29px rgb(68, 174, 112), 30px 30px rgb(68, 175, 112), 31px 31px rgb(69, 175, 113), 32px 32px rgb(69, 176, 113), 33px 33px rgb(69, 176, 113), 34px 34px rgb(69, 177, 114), 35px 35px rgb(70, 178, 114), 36px 36px rgb(70, 178, 114), 37px 37px rgb(70, 179, 115), 38px 38px rgb(70, 179, 115), 39px 39px rgb(70, 180, 115), 40px 40px rgb(71, 180, 116), 41px 41px rgb(71, 181, 116), 42px 42px rgb(71, 182, 117), 43px 43px rgb(71, 182, 117), 44px 44px rgb(72, 183, 117), 45px 45px rgb(72, 183, 118), 46px 46px rgb(72, 184, 118), 47px 47px rgb(72, 184, 118), 48px 48px rgb(72, 185, 119), 49px 49px rgb(73, 186, 119), 50px 50px rgb(73, 186, 119), 51px 51px rgb(73, 187, 120), 52px 52px rgb(73, 187, 120), 53px 53px rgb(74, 188, 120), 54px 54px rgb(74, 188, 121), 55px 55px rgb(74, 189, 121), 56px 56px rgb(74, 190, 122), 57px 57px rgb(75, 190, 122), 58px 58px rgb(75, 191, 122), 59px 59px rgb(75, 191, 123), 60px 60px rgb(75, 192, 123), 61px 61px rgb(75, 192, 123), 62px 62px rgb(76, 193, 124), 63px 63px rgb(76, 194, 124), 64px 64px rgb(76, 194, 124), 65px 65px rgb(76, 195, 125), 66px 66px rgb(77, 195, 125), 67px 67px rgb(77, 196, 125), 68px 68px rgb(77, 196, 126), 69px 69px rgb(77, 197, 126), 70px 70px rgb(78, 198, 127);


	background-color: rgb(78, 198, 127);
}
.shape-2 {
	text-shadow: 1px 1px rgb(47, 162, 119), 2px 2px rgb(47, 163, 119), 3px 3px rgb(47, 163, 120), 4px 4px rgb(47, 164, 120), 5px 5px rgb(47, 164, 121), 6px 6px rgb(48, 165, 121), 7px 7px rgb(48, 166, 122), 8px 8px rgb(48, 166, 122), 9px 9px rgb(48, 167, 122), 10px 10px rgb(48, 167, 123), 11px 11px rgb(48, 168, 123), 12px 12px rgb(49, 168, 124), 13px 13px rgb(49, 169, 124), 14px 14px rgb(49, 170, 125), 15px 15px rgb(49, 170, 125), 16px 16px rgb(49, 171, 125), 17px 17px rgb(49, 171, 126), 18px 18px rgb(50, 172, 126), 19px 19px rgb(50, 172, 127), 20px 20px rgb(50, 173, 127), 21px 21px rgb(50, 174, 128), 22px 22px rgb(50, 174, 128), 23px 23px rgb(50, 175, 128), 24px 24px rgb(51, 175, 129), 25px 25px rgb(51, 176, 129), 26px 26px rgb(51, 176, 130), 27px 27px rgb(51, 177, 130), 28px 28px rgb(51, 178, 131), 29px 29px rgb(51, 178, 131), 30px 30px rgb(52, 179, 131), 31px 31px rgb(52, 179, 132), 32px 32px rgb(52, 180, 132), 33px 33px rgb(52, 180, 133), 34px 34px rgb(52, 181, 133), 35px 35px rgb(53, 182, 134), 36px 36px rgb(53, 182, 134), 37px 37px rgb(53, 183, 134), 38px 38px rgb(53, 183, 135), 39px 39px rgb(53, 184, 135), 40px 40px rgb(53, 184, 136), 41px 41px rgb(54, 185, 136), 42px 42px rgb(54, 186, 137), 43px 43px rgb(54, 186, 137), 44px 44px rgb(54, 187, 137), 45px 45px rgb(54, 187, 138), 46px 46px rgb(54, 188, 138), 47px 47px rgb(55, 188, 139), 48px 48px rgb(55, 189, 139), 49px 49px rgb(55, 190, 140), 50px 50px rgb(55, 190, 140), 51px 51px rgb(55, 191, 140), 52px 52px rgb(55, 191, 141), 53px 53px rgb(56, 192, 141), 54px 54px rgb(56, 192, 142), 55px 55px rgb(56, 193, 142), 56px 56px rgb(56, 194, 143), 57px 57px rgb(56, 194, 143), 58px 58px rgb(56, 195, 143), 59px 59px rgb(57, 195, 144), 60px 60px rgb(57, 196, 144), 61px 61px rgb(57, 196, 145), 62px 62px rgb(57, 197, 145), 63px 63px rgb(57, 198, 146), 64px 64px rgb(57, 198, 146), 65px 65px rgb(58, 199, 146), 66px 66px rgb(58, 199, 147), 67px 67px rgb(58, 200, 147), 68px 68px rgb(58, 200, 148), 69px 69px rgb(58, 201, 148), 70px 70px rgb(59, 202, 149);
		-moz-text-shadow: 1px 1px rgb(47, 162, 119), 2px 2px rgb(47, 163, 119), 3px 3px rgb(47, 163, 120), 4px 4px rgb(47, 164, 120), 5px 5px rgb(47, 164, 121), 6px 6px rgb(48, 165, 121), 7px 7px rgb(48, 166, 122), 8px 8px rgb(48, 166, 122), 9px 9px rgb(48, 167, 122), 10px 10px rgb(48, 167, 123), 11px 11px rgb(48, 168, 123), 12px 12px rgb(49, 168, 124), 13px 13px rgb(49, 169, 124), 14px 14px rgb(49, 170, 125), 15px 15px rgb(49, 170, 125), 16px 16px rgb(49, 171, 125), 17px 17px rgb(49, 171, 126), 18px 18px rgb(50, 172, 126), 19px 19px rgb(50, 172, 127), 20px 20px rgb(50, 173, 127), 21px 21px rgb(50, 174, 128), 22px 22px rgb(50, 174, 128), 23px 23px rgb(50, 175, 128), 24px 24px rgb(51, 175, 129), 25px 25px rgb(51, 176, 129), 26px 26px rgb(51, 176, 130), 27px 27px rgb(51, 177, 130), 28px 28px rgb(51, 178, 131), 29px 29px rgb(51, 178, 131), 30px 30px rgb(52, 179, 131), 31px 31px rgb(52, 179, 132), 32px 32px rgb(52, 180, 132), 33px 33px rgb(52, 180, 133), 34px 34px rgb(52, 181, 133), 35px 35px rgb(53, 182, 134), 36px 36px rgb(53, 182, 134), 37px 37px rgb(53, 183, 134), 38px 38px rgb(53, 183, 135), 39px 39px rgb(53, 184, 135), 40px 40px rgb(53, 184, 136), 41px 41px rgb(54, 185, 136), 42px 42px rgb(54, 186, 137), 43px 43px rgb(54, 186, 137), 44px 44px rgb(54, 187, 137), 45px 45px rgb(54, 187, 138), 46px 46px rgb(54, 188, 138), 47px 47px rgb(55, 188, 139), 48px 48px rgb(55, 189, 139), 49px 49px rgb(55, 190, 140), 50px 50px rgb(55, 190, 140), 51px 51px rgb(55, 191, 140), 52px 52px rgb(55, 191, 141), 53px 53px rgb(56, 192, 141), 54px 54px rgb(56, 192, 142), 55px 55px rgb(56, 193, 142), 56px 56px rgb(56, 194, 143), 57px 57px rgb(56, 194, 143), 58px 58px rgb(56, 195, 143), 59px 59px rgb(57, 195, 144), 60px 60px rgb(57, 196, 144), 61px 61px rgb(57, 196, 145), 62px 62px rgb(57, 197, 145), 63px 63px rgb(57, 198, 146), 64px 64px rgb(57, 198, 146), 65px 65px rgb(58, 199, 146), 66px 66px rgb(58, 199, 147), 67px 67px rgb(58, 200, 147), 68px 68px rgb(58, 200, 148), 69px 69px rgb(58, 201, 148), 70px 70px rgb(59, 202, 149);

	-webkit-text-shadow: 1px 1px rgb(47, 162, 119), 2px 2px rgb(47, 163, 119), 3px 3px rgb(47, 163, 120), 4px 4px rgb(47, 164, 120), 5px 5px rgb(47, 164, 121), 6px 6px rgb(48, 165, 121), 7px 7px rgb(48, 166, 122), 8px 8px rgb(48, 166, 122), 9px 9px rgb(48, 167, 122), 10px 10px rgb(48, 167, 123), 11px 11px rgb(48, 168, 123), 12px 12px rgb(49, 168, 124), 13px 13px rgb(49, 169, 124), 14px 14px rgb(49, 170, 125), 15px 15px rgb(49, 170, 125), 16px 16px rgb(49, 171, 125), 17px 17px rgb(49, 171, 126), 18px 18px rgb(50, 172, 126), 19px 19px rgb(50, 172, 127), 20px 20px rgb(50, 173, 127), 21px 21px rgb(50, 174, 128), 22px 22px rgb(50, 174, 128), 23px 23px rgb(50, 175, 128), 24px 24px rgb(51, 175, 129), 25px 25px rgb(51, 176, 129), 26px 26px rgb(51, 176, 130), 27px 27px rgb(51, 177, 130), 28px 28px rgb(51, 178, 131), 29px 29px rgb(51, 178, 131), 30px 30px rgb(52, 179, 131), 31px 31px rgb(52, 179, 132), 32px 32px rgb(52, 180, 132), 33px 33px rgb(52, 180, 133), 34px 34px rgb(52, 181, 133), 35px 35px rgb(53, 182, 134), 36px 36px rgb(53, 182, 134), 37px 37px rgb(53, 183, 134), 38px 38px rgb(53, 183, 135), 39px 39px rgb(53, 184, 135), 40px 40px rgb(53, 184, 136), 41px 41px rgb(54, 185, 136), 42px 42px rgb(54, 186, 137), 43px 43px rgb(54, 186, 137), 44px 44px rgb(54, 187, 137), 45px 45px rgb(54, 187, 138), 46px 46px rgb(54, 188, 138), 47px 47px rgb(55, 188, 139), 48px 48px rgb(55, 189, 139), 49px 49px rgb(55, 190, 140), 50px 50px rgb(55, 190, 140), 51px 51px rgb(55, 191, 140), 52px 52px rgb(55, 191, 141), 53px 53px rgb(56, 192, 141), 54px 54px rgb(56, 192, 142), 55px 55px rgb(56, 193, 142), 56px 56px rgb(56, 194, 143), 57px 57px rgb(56, 194, 143), 58px 58px rgb(56, 195, 143), 59px 59px rgb(57, 195, 144), 60px 60px rgb(57, 196, 144), 61px 61px rgb(57, 196, 145), 62px 62px rgb(57, 197, 145), 63px 63px rgb(57, 198, 146), 64px 64px rgb(57, 198, 146), 65px 65px rgb(58, 199, 146), 66px 66px rgb(58, 199, 147), 67px 67px rgb(58, 200, 147), 68px 68px rgb(58, 200, 148), 69px 69px rgb(58, 201, 148), 70px 70px rgb(59, 202, 149);

	background-color: rgb(59, 202, 149);
}
.shape-3 {
	text-shadow: 1px 1px rgb(21, 150, 125), 2px 2px rgb(21, 151, 125), 3px 3px rgb(21, 151, 126), 4px 4px rgb(21, 152, 126), 5px 5px rgb(21, 152, 127), 6px 6px rgb(21, 153, 127), 7px 7px rgb(21, 153, 128), 8px 8px rgb(21, 154, 128), 9px 9px rgb(21, 154, 128), 10px 10px rgb(21, 155, 129), 11px 11px rgb(21, 155, 129), 12px 12px rgb(21, 156, 130), 13px 13px rgb(21, 157, 130), 14px 14px rgb(22, 157, 131), 15px 15px rgb(22, 158, 131), 16px 16px rgb(22, 158, 132), 17px 17px rgb(22, 159, 132), 18px 18px rgb(22, 159, 132), 19px 19px var(--main-bg-color), 20px 20px var(--main-bg-color), 21px 21px rgb(22, 161, 134), 22px 22px rgb(22, 161, 134), 23px 23px rgb(22, 162, 135), 24px 24px rgb(22, 163, 135), 25px 25px rgb(22, 163, 136), 26px 26px rgb(22, 164, 136), 27px 27px rgb(22, 164, 136), 28px 28px rgb(23, 165, 137), 29px 29px rgb(23, 165, 137), 30px 30px rgb(23, 166, 138), 31px 31px rgb(23, 166, 138), 32px 32px rgb(23, 167, 139), 33px 33px rgb(23, 167, 139), 34px 34px rgb(23, 168, 140), 35px 35px rgb(23, 169, 140), 36px 36px rgb(23, 169, 140), 37px 37px rgb(23, 170, 141), 38px 38px rgb(23, 170, 141), 39px 39px rgb(23, 171, 142), 40px 40px rgb(23, 171, 142), 41px 41px rgb(23, 172, 143), 42px 42px rgb(24, 172, 143), 43px 43px rgb(24, 173, 144), 44px 44px rgb(24, 173, 144), 45px 45px rgb(24, 174, 144), 46px 46px rgb(24, 174, 145), 47px 47px rgb(24, 175, 145), 48px 48px rgb(24, 176, 146), 49px 49px rgb(24, 176, 146), 50px 50px rgb(24, 177, 147), 51px 51px rgb(24, 177, 147), 52px 52px rgb(24, 178, 148), 53px 53px rgb(24, 178, 148), 54px 54px rgb(24, 179, 148), 55px 55px rgb(24, 179, 149), 56px 56px rgb(25, 180, 149), 57px 57px rgb(25, 180, 150), 58px 58px rgb(25, 181, 150), 59px 59px rgb(25, 182, 151), 60px 60px rgb(25, 182, 151), 61px 61px rgb(25, 183, 152), 62px 62px rgb(25, 183, 152), 63px 63px rgb(25, 184, 152), 64px 64px rgb(25, 184, 153), 65px 65px rgb(25, 185, 153), 66px 66px rgb(25, 185, 154), 67px 67px rgb(25, 186, 154), 68px 68px rgb(25, 186, 155), 69px 69px rgb(25, 187, 155), 70px 70px rgb(26, 188, 156);
	
		-moz-text-shadow: 1px 1px rgb(21, 150, 125), 2px 2px rgb(21, 151, 125), 3px 3px rgb(21, 151, 126), 4px 4px rgb(21, 152, 126), 5px 5px rgb(21, 152, 127), 6px 6px rgb(21, 153, 127), 7px 7px rgb(21, 153, 128), 8px 8px rgb(21, 154, 128), 9px 9px rgb(21, 154, 128), 10px 10px rgb(21, 155, 129), 11px 11px rgb(21, 155, 129), 12px 12px rgb(21, 156, 130), 13px 13px rgb(21, 157, 130), 14px 14px rgb(22, 157, 131), 15px 15px rgb(22, 158, 131), 16px 16px rgb(22, 158, 132), 17px 17px rgb(22, 159, 132), 18px 18px rgb(22, 159, 132), 19px 19px var(--main-bg-color), 20px 20px var(--main-bg-color), 21px 21px rgb(22, 161, 134), 22px 22px rgb(22, 161, 134), 23px 23px rgb(22, 162, 135), 24px 24px rgb(22, 163, 135), 25px 25px rgb(22, 163, 136), 26px 26px rgb(22, 164, 136), 27px 27px rgb(22, 164, 136), 28px 28px rgb(23, 165, 137), 29px 29px rgb(23, 165, 137), 30px 30px rgb(23, 166, 138), 31px 31px rgb(23, 166, 138), 32px 32px rgb(23, 167, 139), 33px 33px rgb(23, 167, 139), 34px 34px rgb(23, 168, 140), 35px 35px rgb(23, 169, 140), 36px 36px rgb(23, 169, 140), 37px 37px rgb(23, 170, 141), 38px 38px rgb(23, 170, 141), 39px 39px rgb(23, 171, 142), 40px 40px rgb(23, 171, 142), 41px 41px rgb(23, 172, 143), 42px 42px rgb(24, 172, 143), 43px 43px rgb(24, 173, 144), 44px 44px rgb(24, 173, 144), 45px 45px rgb(24, 174, 144), 46px 46px rgb(24, 174, 145), 47px 47px rgb(24, 175, 145), 48px 48px rgb(24, 176, 146), 49px 49px rgb(24, 176, 146), 50px 50px rgb(24, 177, 147), 51px 51px rgb(24, 177, 147), 52px 52px rgb(24, 178, 148), 53px 53px rgb(24, 178, 148), 54px 54px rgb(24, 179, 148), 55px 55px rgb(24, 179, 149), 56px 56px rgb(25, 180, 149), 57px 57px rgb(25, 180, 150), 58px 58px rgb(25, 181, 150), 59px 59px rgb(25, 182, 151), 60px 60px rgb(25, 182, 151), 61px 61px rgb(25, 183, 152), 62px 62px rgb(25, 183, 152), 63px 63px rgb(25, 184, 152), 64px 64px rgb(25, 184, 153), 65px 65px rgb(25, 185, 153), 66px 66px rgb(25, 185, 154), 67px 67px rgb(25, 186, 154), 68px 68px rgb(25, 186, 155), 69px 69px rgb(25, 187, 155), 70px 70px rgb(26, 188, 156);


	-webkit-text-shadow: 1px 1px rgb(21, 150, 125), 2px 2px rgb(21, 151, 125), 3px 3px rgb(21, 151, 126), 4px 4px rgb(21, 152, 126), 5px 5px rgb(21, 152, 127), 6px 6px rgb(21, 153, 127), 7px 7px rgb(21, 153, 128), 8px 8px rgb(21, 154, 128), 9px 9px rgb(21, 154, 128), 10px 10px rgb(21, 155, 129), 11px 11px rgb(21, 155, 129), 12px 12px rgb(21, 156, 130), 13px 13px rgb(21, 157, 130), 14px 14px rgb(22, 157, 131), 15px 15px rgb(22, 158, 131), 16px 16px rgb(22, 158, 132), 17px 17px rgb(22, 159, 132), 18px 18px rgb(22, 159, 132), 19px 19px var(--main-bg-color), 20px 20px var(--main-bg-color), 21px 21px rgb(22, 161, 134), 22px 22px rgb(22, 161, 134), 23px 23px rgb(22, 162, 135), 24px 24px rgb(22, 163, 135), 25px 25px rgb(22, 163, 136), 26px 26px rgb(22, 164, 136), 27px 27px rgb(22, 164, 136), 28px 28px rgb(23, 165, 137), 29px 29px rgb(23, 165, 137), 30px 30px rgb(23, 166, 138), 31px 31px rgb(23, 166, 138), 32px 32px rgb(23, 167, 139), 33px 33px rgb(23, 167, 139), 34px 34px rgb(23, 168, 140), 35px 35px rgb(23, 169, 140), 36px 36px rgb(23, 169, 140), 37px 37px rgb(23, 170, 141), 38px 38px rgb(23, 170, 141), 39px 39px rgb(23, 171, 142), 40px 40px rgb(23, 171, 142), 41px 41px rgb(23, 172, 143), 42px 42px rgb(24, 172, 143), 43px 43px rgb(24, 173, 144), 44px 44px rgb(24, 173, 144), 45px 45px rgb(24, 174, 144), 46px 46px rgb(24, 174, 145), 47px 47px rgb(24, 175, 145), 48px 48px rgb(24, 176, 146), 49px 49px rgb(24, 176, 146), 50px 50px rgb(24, 177, 147), 51px 51px rgb(24, 177, 147), 52px 52px rgb(24, 178, 148), 53px 53px rgb(24, 178, 148), 54px 54px rgb(24, 179, 148), 55px 55px rgb(24, 179, 149), 56px 56px rgb(25, 180, 149), 57px 57px rgb(25, 180, 150), 58px 58px rgb(25, 181, 150), 59px 59px rgb(25, 182, 151), 60px 60px rgb(25, 182, 151), 61px 61px rgb(25, 183, 152), 62px 62px rgb(25, 183, 152), 63px 63px rgb(25, 184, 152), 64px 64px rgb(25, 184, 153), 65px 65px rgb(25, 185, 153), 66px 66px rgb(25, 185, 154), 67px 67px rgb(25, 186, 154), 68px 68px rgb(25, 186, 155), 69px 69px rgb(25, 187, 155), 70px 70px rgb(26, 188, 156);

	background-color: rgb(26, 188, 156);
}
.shape-4 {
	text-shadow: 1px 1px rgb(42, 122, 175), 2px 2px rgb(42, 122, 176), 3px 3px rgb(42, 123, 176), 4px 4px rgb(42, 123, 177), 5px 5px rgb(42, 124, 178), 6px 6px rgb(42, 124, 178), 7px 7px rgb(43, 125, 179), 8px 8px rgb(43, 125, 180), 9px 9px rgb(43, 125, 180), 10px 10px rgb(43, 126, 181), 11px 11px rgb(43, 126, 181), 12px 12px rgb(43, 127, 182), 13px 13px rgb(43, 127, 183), 14px 14px rgb(44, 128, 183), 15px 15px rgb(44, 128, 184), 16px 16px rgb(44, 128, 185), 17px 17px rgb(44, 129, 185), 18px 18px rgb(44, 129, 186), 19px 19px rgb(44, 130, 186), 20px 20px rgb(44, 130, 187), 21px 21px rgb(45, 131, 188), 22px 22px rgb(45, 131, 188), 23px 23px rgb(45, 131, 189), 24px 24px rgb(45, 132, 190), 25px 25px rgb(45, 132, 190), 26px 26px rgb(45, 133, 191), 27px 27px rgb(45, 133, 191), 28px 28px rgb(46, 134, 192), 29px 29px rgb(46, 134, 193), 30px 30px rgb(46, 134, 193), 31px 31px rgb(46, 135, 194), 32px 32px rgb(46, 135, 195), 33px 33px rgb(46, 136, 195), 34px 34px rgb(46, 136, 196), 35px 35px rgb(47, 137, 197), 36px 36px rgb(47, 137, 197), 37px 37px rgb(47, 137, 198), 38px 38px rgb(47, 138, 198), 39px 39px rgb(47, 138, 199), 40px 40px rgb(47, 139, 200), 41px 41px rgb(47, 139, 200), 42px 42px rgb(48, 140, 201), 43px 43px rgb(48, 140, 202), 44px 44px rgb(48, 140, 202), 45px 45px rgb(48, 141, 203), 46px 46px rgb(48, 141, 203), 47px 47px rgb(48, 142, 204), 48px 48px rgb(48, 142, 205), 49px 49px rgb(49, 143, 205), 50px 50px rgb(49, 143, 206), 51px 51px rgb(49, 143, 207), 52px 52px rgb(49, 144, 207), 53px 53px rgb(49, 144, 208), 54px 54px rgb(49, 145, 208), 55px 55px rgb(49, 145, 209), 56px 56px rgb(50, 146, 210), 57px 57px rgb(50, 146, 210), 58px 58px rgb(50, 146, 211), 59px 59px rgb(50, 147, 212), 60px 60px rgb(50, 147, 212), 61px 61px rgb(50, 148, 213), 62px 62px rgb(50, 148, 213), 63px 63px rgb(51, 149, 214), 64px 64px rgb(51, 149, 215), 65px 65px rgb(51, 149, 215), 66px 66px rgb(51, 150, 216), 67px 67px rgb(51, 150, 217), 68px 68px rgb(51, 151, 217), 69px 69px rgb(51, 151, 218), 70px 70px rgb(52, 152, 219);
	
		-moz-text-shadow: 1px 1px rgb(42, 122, 175), 2px 2px rgb(42, 122, 176), 3px 3px rgb(42, 123, 176), 4px 4px rgb(42, 123, 177), 5px 5px rgb(42, 124, 178), 6px 6px rgb(42, 124, 178), 7px 7px rgb(43, 125, 179), 8px 8px rgb(43, 125, 180), 9px 9px rgb(43, 125, 180), 10px 10px rgb(43, 126, 181), 11px 11px rgb(43, 126, 181), 12px 12px rgb(43, 127, 182), 13px 13px rgb(43, 127, 183), 14px 14px rgb(44, 128, 183), 15px 15px rgb(44, 128, 184), 16px 16px rgb(44, 128, 185), 17px 17px rgb(44, 129, 185), 18px 18px rgb(44, 129, 186), 19px 19px rgb(44, 130, 186), 20px 20px rgb(44, 130, 187), 21px 21px rgb(45, 131, 188), 22px 22px rgb(45, 131, 188), 23px 23px rgb(45, 131, 189), 24px 24px rgb(45, 132, 190), 25px 25px rgb(45, 132, 190), 26px 26px rgb(45, 133, 191), 27px 27px rgb(45, 133, 191), 28px 28px rgb(46, 134, 192), 29px 29px rgb(46, 134, 193), 30px 30px rgb(46, 134, 193), 31px 31px rgb(46, 135, 194), 32px 32px rgb(46, 135, 195), 33px 33px rgb(46, 136, 195), 34px 34px rgb(46, 136, 196), 35px 35px rgb(47, 137, 197), 36px 36px rgb(47, 137, 197), 37px 37px rgb(47, 137, 198), 38px 38px rgb(47, 138, 198), 39px 39px rgb(47, 138, 199), 40px 40px rgb(47, 139, 200), 41px 41px rgb(47, 139, 200), 42px 42px rgb(48, 140, 201), 43px 43px rgb(48, 140, 202), 44px 44px rgb(48, 140, 202), 45px 45px rgb(48, 141, 203), 46px 46px rgb(48, 141, 203), 47px 47px rgb(48, 142, 204), 48px 48px rgb(48, 142, 205), 49px 49px rgb(49, 143, 205), 50px 50px rgb(49, 143, 206), 51px 51px rgb(49, 143, 207), 52px 52px rgb(49, 144, 207), 53px 53px rgb(49, 144, 208), 54px 54px rgb(49, 145, 208), 55px 55px rgb(49, 145, 209), 56px 56px rgb(50, 146, 210), 57px 57px rgb(50, 146, 210), 58px 58px rgb(50, 146, 211), 59px 59px rgb(50, 147, 212), 60px 60px rgb(50, 147, 212), 61px 61px rgb(50, 148, 213), 62px 62px rgb(50, 148, 213), 63px 63px rgb(51, 149, 214), 64px 64px rgb(51, 149, 215), 65px 65px rgb(51, 149, 215), 66px 66px rgb(51, 150, 216), 67px 67px rgb(51, 150, 217), 68px 68px rgb(51, 151, 217), 69px 69px rgb(51, 151, 218), 70px 70px rgb(52, 152, 219);


	-webkit-text-shadow: 1px 1px rgb(42, 122, 175), 2px 2px rgb(42, 122, 176), 3px 3px rgb(42, 123, 176), 4px 4px rgb(42, 123, 177), 5px 5px rgb(42, 124, 178), 6px 6px rgb(42, 124, 178), 7px 7px rgb(43, 125, 179), 8px 8px rgb(43, 125, 180), 9px 9px rgb(43, 125, 180), 10px 10px rgb(43, 126, 181), 11px 11px rgb(43, 126, 181), 12px 12px rgb(43, 127, 182), 13px 13px rgb(43, 127, 183), 14px 14px rgb(44, 128, 183), 15px 15px rgb(44, 128, 184), 16px 16px rgb(44, 128, 185), 17px 17px rgb(44, 129, 185), 18px 18px rgb(44, 129, 186), 19px 19px rgb(44, 130, 186), 20px 20px rgb(44, 130, 187), 21px 21px rgb(45, 131, 188), 22px 22px rgb(45, 131, 188), 23px 23px rgb(45, 131, 189), 24px 24px rgb(45, 132, 190), 25px 25px rgb(45, 132, 190), 26px 26px rgb(45, 133, 191), 27px 27px rgb(45, 133, 191), 28px 28px rgb(46, 134, 192), 29px 29px rgb(46, 134, 193), 30px 30px rgb(46, 134, 193), 31px 31px rgb(46, 135, 194), 32px 32px rgb(46, 135, 195), 33px 33px rgb(46, 136, 195), 34px 34px rgb(46, 136, 196), 35px 35px rgb(47, 137, 197), 36px 36px rgb(47, 137, 197), 37px 37px rgb(47, 137, 198), 38px 38px rgb(47, 138, 198), 39px 39px rgb(47, 138, 199), 40px 40px rgb(47, 139, 200), 41px 41px rgb(47, 139, 200), 42px 42px rgb(48, 140, 201), 43px 43px rgb(48, 140, 202), 44px 44px rgb(48, 140, 202), 45px 45px rgb(48, 141, 203), 46px 46px rgb(48, 141, 203), 47px 47px rgb(48, 142, 204), 48px 48px rgb(48, 142, 205), 49px 49px rgb(49, 143, 205), 50px 50px rgb(49, 143, 206), 51px 51px rgb(49, 143, 207), 52px 52px rgb(49, 144, 207), 53px 53px rgb(49, 144, 208), 54px 54px rgb(49, 145, 208), 55px 55px rgb(49, 145, 209), 56px 56px rgb(50, 146, 210), 57px 57px rgb(50, 146, 210), 58px 58px rgb(50, 146, 211), 59px 59px rgb(50, 147, 212), 60px 60px rgb(50, 147, 212), 61px 61px rgb(50, 148, 213), 62px 62px rgb(50, 148, 213), 63px 63px rgb(51, 149, 214), 64px 64px rgb(51, 149, 215), 65px 65px rgb(51, 149, 215), 66px 66px rgb(51, 150, 216), 67px 67px rgb(51, 150, 217), 68px 68px rgb(51, 151, 217), 69px 69px rgb(51, 151, 218), 70px 70px rgb(52, 152, 219);

	background-color: rgb(52, 152, 219);
}
.shape-5 {
	text-shadow: 1px 1px rgb(124, 71, 146), 2px 2px rgb(124, 71, 147), 3px 3px rgb(125, 71, 147), 4px 4px rgb(125, 72, 148), 5px 5px rgb(126, 72, 148), 6px 6px rgb(126, 72, 149), 7px 7px rgb(127, 72, 149), 8px 8px rgb(127, 73, 150), 9px 9px rgb(127, 73, 150), 10px 10px rgb(128, 73, 151), 11px 11px rgb(128, 73, 151), 12px 12px rgb(129, 74, 152), 13px 13px rgb(129, 74, 152), 14px 14px rgb(130, 74, 153), 15px 15px rgb(130, 74, 153), 16px 16px rgb(131, 75, 154), 17px 17px rgb(131, 75, 154), 18px 18px rgb(131, 75, 155), 19px 19px rgb(132, 75, 155), 20px 20px rgb(132, 76, 156), 21px 21px rgb(133, 76, 156), 22px 22px rgb(133, 76, 157), 23px 23px rgb(134, 76, 157), 24px 24px rgb(134, 77, 158), 25px 25px rgb(135, 77, 158), 26px 26px rgb(135, 77, 159), 27px 27px rgb(135, 77, 159), 28px 28px rgb(136, 78, 160), 29px 29px rgb(136, 78, 160), 30px 30px rgb(137, 78, 161), 31px 31px rgb(137, 78, 161), 32px 32px rgb(138, 79, 162), 33px 33px rgb(138, 79, 162), 34px 34px rgb(139, 79, 163), 35px 35px rgb(139, 80, 164), 36px 36px rgb(139, 80, 164), 37px 37px rgb(140, 80, 165), 38px 38px rgb(140, 80, 165), 39px 39px rgb(141, 81, 166), 40px 40px rgb(141, 81, 166), 41px 41px rgb(142, 81, 167), 42px 42px rgb(142, 81, 167), 43px 43px rgb(143, 82, 168), 44px 44px rgb(143, 82, 168), 45px 45px rgb(143, 82, 169), 46px 46px rgb(144, 82, 169), 47px 47px rgb(144, 83, 170), 48px 48px rgb(145, 83, 170), 49px 49px rgb(145, 83, 171), 50px 50px rgb(146, 83, 171), 51px 51px rgb(146, 84, 172), 52px 52px rgb(147, 84, 172), 53px 53px rgb(147, 84, 173), 54px 54px rgb(147, 84, 173), 55px 55px rgb(148, 85, 174), 56px 56px rgb(148, 85, 174), 57px 57px rgb(149, 85, 175), 58px 58px rgb(149, 85, 175), 59px 59px rgb(150, 86, 176), 60px 60px rgb(150, 86, 176), 61px 61px rgb(151, 86, 177), 62px 62px rgb(151, 86, 177), 63px 63px rgb(151, 87, 178), 64px 64px rgb(152, 87, 178), 65px 65px rgb(152, 87, 179), 66px 66px rgb(153, 87, 179), 67px 67px rgb(153, 88, 180), 68px 68px rgb(154, 88, 180), 69px 69px rgb(154, 88, 181), 70px 70px rgb(155, 89, 182);
	
		-moz-text-shadow: 1px 1px rgb(124, 71, 146), 2px 2px rgb(124, 71, 147), 3px 3px rgb(125, 71, 147), 4px 4px rgb(125, 72, 148), 5px 5px rgb(126, 72, 148), 6px 6px rgb(126, 72, 149), 7px 7px rgb(127, 72, 149), 8px 8px rgb(127, 73, 150), 9px 9px rgb(127, 73, 150), 10px 10px rgb(128, 73, 151), 11px 11px rgb(128, 73, 151), 12px 12px rgb(129, 74, 152), 13px 13px rgb(129, 74, 152), 14px 14px rgb(130, 74, 153), 15px 15px rgb(130, 74, 153), 16px 16px rgb(131, 75, 154), 17px 17px rgb(131, 75, 154), 18px 18px rgb(131, 75, 155), 19px 19px rgb(132, 75, 155), 20px 20px rgb(132, 76, 156), 21px 21px rgb(133, 76, 156), 22px 22px rgb(133, 76, 157), 23px 23px rgb(134, 76, 157), 24px 24px rgb(134, 77, 158), 25px 25px rgb(135, 77, 158), 26px 26px rgb(135, 77, 159), 27px 27px rgb(135, 77, 159), 28px 28px rgb(136, 78, 160), 29px 29px rgb(136, 78, 160), 30px 30px rgb(137, 78, 161), 31px 31px rgb(137, 78, 161), 32px 32px rgb(138, 79, 162), 33px 33px rgb(138, 79, 162), 34px 34px rgb(139, 79, 163), 35px 35px rgb(139, 80, 164), 36px 36px rgb(139, 80, 164), 37px 37px rgb(140, 80, 165), 38px 38px rgb(140, 80, 165), 39px 39px rgb(141, 81, 166), 40px 40px rgb(141, 81, 166), 41px 41px rgb(142, 81, 167), 42px 42px rgb(142, 81, 167), 43px 43px rgb(143, 82, 168), 44px 44px rgb(143, 82, 168), 45px 45px rgb(143, 82, 169), 46px 46px rgb(144, 82, 169), 47px 47px rgb(144, 83, 170), 48px 48px rgb(145, 83, 170), 49px 49px rgb(145, 83, 171), 50px 50px rgb(146, 83, 171), 51px 51px rgb(146, 84, 172), 52px 52px rgb(147, 84, 172), 53px 53px rgb(147, 84, 173), 54px 54px rgb(147, 84, 173), 55px 55px rgb(148, 85, 174), 56px 56px rgb(148, 85, 174), 57px 57px rgb(149, 85, 175), 58px 58px rgb(149, 85, 175), 59px 59px rgb(150, 86, 176), 60px 60px rgb(150, 86, 176), 61px 61px rgb(151, 86, 177), 62px 62px rgb(151, 86, 177), 63px 63px rgb(151, 87, 178), 64px 64px rgb(152, 87, 178), 65px 65px rgb(152, 87, 179), 66px 66px rgb(153, 87, 179), 67px 67px rgb(153, 88, 180), 68px 68px rgb(154, 88, 180), 69px 69px rgb(154, 88, 181), 70px 70px rgb(155, 89, 182);


	-webkit-text-shadow: 1px 1px rgb(124, 71, 146), 2px 2px rgb(124, 71, 147), 3px 3px rgb(125, 71, 147), 4px 4px rgb(125, 72, 148), 5px 5px rgb(126, 72, 148), 6px 6px rgb(126, 72, 149), 7px 7px rgb(127, 72, 149), 8px 8px rgb(127, 73, 150), 9px 9px rgb(127, 73, 150), 10px 10px rgb(128, 73, 151), 11px 11px rgb(128, 73, 151), 12px 12px rgb(129, 74, 152), 13px 13px rgb(129, 74, 152), 14px 14px rgb(130, 74, 153), 15px 15px rgb(130, 74, 153), 16px 16px rgb(131, 75, 154), 17px 17px rgb(131, 75, 154), 18px 18px rgb(131, 75, 155), 19px 19px rgb(132, 75, 155), 20px 20px rgb(132, 76, 156), 21px 21px rgb(133, 76, 156), 22px 22px rgb(133, 76, 157), 23px 23px rgb(134, 76, 157), 24px 24px rgb(134, 77, 158), 25px 25px rgb(135, 77, 158), 26px 26px rgb(135, 77, 159), 27px 27px rgb(135, 77, 159), 28px 28px rgb(136, 78, 160), 29px 29px rgb(136, 78, 160), 30px 30px rgb(137, 78, 161), 31px 31px rgb(137, 78, 161), 32px 32px rgb(138, 79, 162), 33px 33px rgb(138, 79, 162), 34px 34px rgb(139, 79, 163), 35px 35px rgb(139, 80, 164), 36px 36px rgb(139, 80, 164), 37px 37px rgb(140, 80, 165), 38px 38px rgb(140, 80, 165), 39px 39px rgb(141, 81, 166), 40px 40px rgb(141, 81, 166), 41px 41px rgb(142, 81, 167), 42px 42px rgb(142, 81, 167), 43px 43px rgb(143, 82, 168), 44px 44px rgb(143, 82, 168), 45px 45px rgb(143, 82, 169), 46px 46px rgb(144, 82, 169), 47px 47px rgb(144, 83, 170), 48px 48px rgb(145, 83, 170), 49px 49px rgb(145, 83, 171), 50px 50px rgb(146, 83, 171), 51px 51px rgb(146, 84, 172), 52px 52px rgb(147, 84, 172), 53px 53px rgb(147, 84, 173), 54px 54px rgb(147, 84, 173), 55px 55px rgb(148, 85, 174), 56px 56px rgb(148, 85, 174), 57px 57px rgb(149, 85, 175), 58px 58px rgb(149, 85, 175), 59px 59px rgb(150, 86, 176), 60px 60px rgb(150, 86, 176), 61px 61px rgb(151, 86, 177), 62px 62px rgb(151, 86, 177), 63px 63px rgb(151, 87, 178), 64px 64px rgb(152, 87, 178), 65px 65px rgb(152, 87, 179), 66px 66px rgb(153, 87, 179), 67px 67px rgb(153, 88, 180), 68px 68px rgb(154, 88, 180), 69px 69px rgb(154, 88, 181), 70px 70px rgb(155, 89, 182);

	background-color: rgb(155, 89, 182);
}
.shape-6 {
	text-shadow: 1px 1px rgb(185, 61, 48), 2px 2px rgb(186, 61, 48), 3px 3px rgb(186, 61, 48), 4px 4px rgb(187, 61, 48), 5px 5px rgb(188, 62, 48), 6px 6px rgb(188, 62, 49), 7px 7px rgb(189, 62, 49), 8px 8px rgb(190, 62, 49), 9px 9px rgb(190, 62, 49), 10px 10px rgb(191, 63, 49), 11px 11px rgb(192, 63, 49), 12px 12px rgb(192, 63, 50), 13px 13px rgb(193, 63, 50), 14px 14px rgb(194, 64, 50), 15px 15px rgb(194, 64, 50), 16px 16px rgb(195, 64, 50), 17px 17px rgb(196, 64, 50), 18px 18px rgb(196, 64, 51), 19px 19px rgb(197, 65, 51), 20px 20px rgb(198, 65, 51), 21px 21px rgb(198, 65, 51), 22px 22px rgb(199, 65, 51), 23px 23px rgb(200, 65, 51), 24px 24px rgb(200, 66, 52), 25px 25px rgb(201, 66, 52), 26px 26px rgb(202, 66, 52), 27px 27px rgb(202, 66, 52), 28px 28px rgb(203, 67, 52), 29px 29px rgb(204, 67, 52), 30px 30px rgb(204, 67, 53), 31px 31px rgb(205, 67, 53), 32px 32px rgb(206, 67, 53), 33px 33px rgb(206, 68, 53), 34px 34px rgb(207, 68, 53), 35px 35px rgb(208, 68, 54), 36px 36px rgb(208, 68, 54), 37px 37px rgb(209, 68, 54), 38px 38px rgb(209, 69, 54), 39px 39px rgb(210, 69, 54), 40px 40px rgb(211, 69, 54), 41px 41px rgb(211, 69, 55), 42px 42px rgb(212, 70, 55), 43px 43px rgb(213, 70, 55), 44px 44px rgb(213, 70, 55), 45px 45px rgb(214, 70, 55), 46px 46px rgb(215, 70, 55), 47px 47px rgb(215, 71, 56), 48px 48px rgb(216, 71, 56), 49px 49px rgb(217, 71, 56), 50px 50px rgb(217, 71, 56), 51px 51px rgb(218, 71, 56), 52px 52px rgb(219, 72, 56), 53px 53px rgb(219, 72, 57), 54px 54px rgb(220, 72, 57), 55px 55px rgb(221, 72, 57), 56px 56px rgb(221, 73, 57), 57px 57px rgb(222, 73, 57), 58px 58px rgb(223, 73, 57), 59px 59px rgb(223, 73, 58), 60px 60px rgb(224, 73, 58), 61px 61px rgb(225, 74, 58), 62px 62px rgb(225, 74, 58), 63px 63px rgb(226, 74, 58), 64px 64px rgb(227, 74, 58), 65px 65px rgb(227, 74, 59), 66px 66px rgb(228, 75, 59), 67px 67px rgb(229, 75, 59), 68px 68px rgb(229, 75, 59), 69px 69px rgb(230, 75, 59), 70px 70px rgb(231, 76, 60);
	
	
		-moz-text-shadow: 1px 1px rgb(185, 61, 48), 2px 2px rgb(186, 61, 48), 3px 3px rgb(186, 61, 48), 4px 4px rgb(187, 61, 48), 5px 5px rgb(188, 62, 48), 6px 6px rgb(188, 62, 49), 7px 7px rgb(189, 62, 49), 8px 8px rgb(190, 62, 49), 9px 9px rgb(190, 62, 49), 10px 10px rgb(191, 63, 49), 11px 11px rgb(192, 63, 49), 12px 12px rgb(192, 63, 50), 13px 13px rgb(193, 63, 50), 14px 14px rgb(194, 64, 50), 15px 15px rgb(194, 64, 50), 16px 16px rgb(195, 64, 50), 17px 17px rgb(196, 64, 50), 18px 18px rgb(196, 64, 51), 19px 19px rgb(197, 65, 51), 20px 20px rgb(198, 65, 51), 21px 21px rgb(198, 65, 51), 22px 22px rgb(199, 65, 51), 23px 23px rgb(200, 65, 51), 24px 24px rgb(200, 66, 52), 25px 25px rgb(201, 66, 52), 26px 26px rgb(202, 66, 52), 27px 27px rgb(202, 66, 52), 28px 28px rgb(203, 67, 52), 29px 29px rgb(204, 67, 52), 30px 30px rgb(204, 67, 53), 31px 31px rgb(205, 67, 53), 32px 32px rgb(206, 67, 53), 33px 33px rgb(206, 68, 53), 34px 34px rgb(207, 68, 53), 35px 35px rgb(208, 68, 54), 36px 36px rgb(208, 68, 54), 37px 37px rgb(209, 68, 54), 38px 38px rgb(209, 69, 54), 39px 39px rgb(210, 69, 54), 40px 40px rgb(211, 69, 54), 41px 41px rgb(211, 69, 55), 42px 42px rgb(212, 70, 55), 43px 43px rgb(213, 70, 55), 44px 44px rgb(213, 70, 55), 45px 45px rgb(214, 70, 55), 46px 46px rgb(215, 70, 55), 47px 47px rgb(215, 71, 56), 48px 48px rgb(216, 71, 56), 49px 49px rgb(217, 71, 56), 50px 50px rgb(217, 71, 56), 51px 51px rgb(218, 71, 56), 52px 52px rgb(219, 72, 56), 53px 53px rgb(219, 72, 57), 54px 54px rgb(220, 72, 57), 55px 55px rgb(221, 72, 57), 56px 56px rgb(221, 73, 57), 57px 57px rgb(222, 73, 57), 58px 58px rgb(223, 73, 57), 59px 59px rgb(223, 73, 58), 60px 60px rgb(224, 73, 58), 61px 61px rgb(225, 74, 58), 62px 62px rgb(225, 74, 58), 63px 63px rgb(226, 74, 58), 64px 64px rgb(227, 74, 58), 65px 65px rgb(227, 74, 59), 66px 66px rgb(228, 75, 59), 67px 67px rgb(229, 75, 59), 68px 68px rgb(229, 75, 59), 69px 69px rgb(230, 75, 59), 70px 70px rgb(231, 76, 60);


	-webkit-text-shadow: 1px 1px rgb(185, 61, 48), 2px 2px rgb(186, 61, 48), 3px 3px rgb(186, 61, 48), 4px 4px rgb(187, 61, 48), 5px 5px rgb(188, 62, 48), 6px 6px rgb(188, 62, 49), 7px 7px rgb(189, 62, 49), 8px 8px rgb(190, 62, 49), 9px 9px rgb(190, 62, 49), 10px 10px rgb(191, 63, 49), 11px 11px rgb(192, 63, 49), 12px 12px rgb(192, 63, 50), 13px 13px rgb(193, 63, 50), 14px 14px rgb(194, 64, 50), 15px 15px rgb(194, 64, 50), 16px 16px rgb(195, 64, 50), 17px 17px rgb(196, 64, 50), 18px 18px rgb(196, 64, 51), 19px 19px rgb(197, 65, 51), 20px 20px rgb(198, 65, 51), 21px 21px rgb(198, 65, 51), 22px 22px rgb(199, 65, 51), 23px 23px rgb(200, 65, 51), 24px 24px rgb(200, 66, 52), 25px 25px rgb(201, 66, 52), 26px 26px rgb(202, 66, 52), 27px 27px rgb(202, 66, 52), 28px 28px rgb(203, 67, 52), 29px 29px rgb(204, 67, 52), 30px 30px rgb(204, 67, 53), 31px 31px rgb(205, 67, 53), 32px 32px rgb(206, 67, 53), 33px 33px rgb(206, 68, 53), 34px 34px rgb(207, 68, 53), 35px 35px rgb(208, 68, 54), 36px 36px rgb(208, 68, 54), 37px 37px rgb(209, 68, 54), 38px 38px rgb(209, 69, 54), 39px 39px rgb(210, 69, 54), 40px 40px rgb(211, 69, 54), 41px 41px rgb(211, 69, 55), 42px 42px rgb(212, 70, 55), 43px 43px rgb(213, 70, 55), 44px 44px rgb(213, 70, 55), 45px 45px rgb(214, 70, 55), 46px 46px rgb(215, 70, 55), 47px 47px rgb(215, 71, 56), 48px 48px rgb(216, 71, 56), 49px 49px rgb(217, 71, 56), 50px 50px rgb(217, 71, 56), 51px 51px rgb(218, 71, 56), 52px 52px rgb(219, 72, 56), 53px 53px rgb(219, 72, 57), 54px 54px rgb(220, 72, 57), 55px 55px rgb(221, 72, 57), 56px 56px rgb(221, 73, 57), 57px 57px rgb(222, 73, 57), 58px 58px rgb(223, 73, 57), 59px 59px rgb(223, 73, 58), 60px 60px rgb(224, 73, 58), 61px 61px rgb(225, 74, 58), 62px 62px rgb(225, 74, 58), 63px 63px rgb(226, 74, 58), 64px 64px rgb(227, 74, 58), 65px 65px rgb(227, 74, 59), 66px 66px rgb(228, 75, 59), 67px 67px rgb(229, 75, 59), 68px 68px rgb(229, 75, 59), 69px 69px rgb(230, 75, 59), 70px 70px rgb(231, 76, 60);

	
	background-color: rgb(231, 76, 60);
}
.shape-7 {
	text-shadow: 1px 1px rgb(119, 132, 133), 2px 2px rgb(119, 132, 133), 3px 3px rgb(120, 133, 134), 4px 4px rgb(120, 133, 134), 5px 5px rgb(121, 134, 135), 6px 6px rgb(121, 134, 135), 7px 7px rgb(122, 135, 136), 8px 8px rgb(122, 135, 136), 9px 9px rgb(122, 136, 137), 10px 10px rgb(123, 136, 137), 11px 11px rgb(123, 137, 138), 12px 12px rgb(124, 137, 138), 13px 13px rgb(124, 138, 139), 14px 14px rgb(125, 138, 139), 15px 15px rgb(125, 139, 140), 16px 16px rgb(125, 139, 140), 17px 17px rgb(126, 140, 141), 18px 18px rgb(126, 140, 141), 19px 19px rgb(127, 140, 141), 20px 20px rgb(127, 141, 142), 21px 21px rgb(128, 141, 142), 22px 22px rgb(128, 142, 143), 23px 23px rgb(128, 142, 143), 24px 24px rgb(129, 143, 144), 25px 25px rgb(129, 143, 144), 26px 26px rgb(130, 144, 145), 27px 27px rgb(130, 144, 145), 28px 28px rgb(131, 145, 146), 29px 29px rgb(131, 145, 146), 30px 30px rgb(131, 146, 147), 31px 31px rgb(132, 146, 147), 32px 32px rgb(132, 147, 148), 33px 33px rgb(133, 147, 148), 34px 34px rgb(133, 148, 149), 35px 35px rgb(134, 148, 149), 36px 36px rgb(134, 148, 149), 37px 37px rgb(134, 149, 150), 38px 38px rgb(135, 149, 150), 39px 39px rgb(135, 150, 151), 40px 40px rgb(136, 150, 151), 41px 41px rgb(136, 151, 152), 42px 42px rgb(137, 151, 152), 43px 43px rgb(137, 152, 153), 44px 44px rgb(137, 152, 153), 45px 45px rgb(138, 153, 154), 46px 46px rgb(138, 153, 154), 47px 47px rgb(139, 154, 155), 48px 48px rgb(139, 154, 155), 49px 49px rgb(140, 155, 156), 50px 50px rgb(140, 155, 156), 51px 51px rgb(140, 156, 157), 52px 52px rgb(141, 156, 157), 53px 53px rgb(141, 156, 157), 54px 54px rgb(142, 157, 158), 55px 55px rgb(142, 157, 158), 56px 56px rgb(143, 158, 159), 57px 57px rgb(143, 158, 159), 58px 58px rgb(143, 159, 160), 59px 59px rgb(144, 159, 160), 60px 60px rgb(144, 160, 161), 61px 61px rgb(145, 160, 161), 62px 62px rgb(145, 161, 162), 63px 63px rgb(146, 161, 162), 64px 64px rgb(146, 162, 163), 65px 65px rgb(146, 162, 163), 66px 66px rgb(147, 163, 164), 67px 67px rgb(147, 163, 164), 68px 68px rgb(148, 164, 165), 69px 69px rgb(148, 164, 165), 70px 70px rgb(149, 165, 166);
	
		-moz-text-shadow: 1px 1px rgb(119, 132, 133), 2px 2px rgb(119, 132, 133), 3px 3px rgb(120, 133, 134), 4px 4px rgb(120, 133, 134), 5px 5px rgb(121, 134, 135), 6px 6px rgb(121, 134, 135), 7px 7px rgb(122, 135, 136), 8px 8px rgb(122, 135, 136), 9px 9px rgb(122, 136, 137), 10px 10px rgb(123, 136, 137), 11px 11px rgb(123, 137, 138), 12px 12px rgb(124, 137, 138), 13px 13px rgb(124, 138, 139), 14px 14px rgb(125, 138, 139), 15px 15px rgb(125, 139, 140), 16px 16px rgb(125, 139, 140), 17px 17px rgb(126, 140, 141), 18px 18px rgb(126, 140, 141), 19px 19px rgb(127, 140, 141), 20px 20px rgb(127, 141, 142), 21px 21px rgb(128, 141, 142), 22px 22px rgb(128, 142, 143), 23px 23px rgb(128, 142, 143), 24px 24px rgb(129, 143, 144), 25px 25px rgb(129, 143, 144), 26px 26px rgb(130, 144, 145), 27px 27px rgb(130, 144, 145), 28px 28px rgb(131, 145, 146), 29px 29px rgb(131, 145, 146), 30px 30px rgb(131, 146, 147), 31px 31px rgb(132, 146, 147), 32px 32px rgb(132, 147, 148), 33px 33px rgb(133, 147, 148), 34px 34px rgb(133, 148, 149), 35px 35px rgb(134, 148, 149), 36px 36px rgb(134, 148, 149), 37px 37px rgb(134, 149, 150), 38px 38px rgb(135, 149, 150), 39px 39px rgb(135, 150, 151), 40px 40px rgb(136, 150, 151), 41px 41px rgb(136, 151, 152), 42px 42px rgb(137, 151, 152), 43px 43px rgb(137, 152, 153), 44px 44px rgb(137, 152, 153), 45px 45px rgb(138, 153, 154), 46px 46px rgb(138, 153, 154), 47px 47px rgb(139, 154, 155), 48px 48px rgb(139, 154, 155), 49px 49px rgb(140, 155, 156), 50px 50px rgb(140, 155, 156), 51px 51px rgb(140, 156, 157), 52px 52px rgb(141, 156, 157), 53px 53px rgb(141, 156, 157), 54px 54px rgb(142, 157, 158), 55px 55px rgb(142, 157, 158), 56px 56px rgb(143, 158, 159), 57px 57px rgb(143, 158, 159), 58px 58px rgb(143, 159, 160), 59px 59px rgb(144, 159, 160), 60px 60px rgb(144, 160, 161), 61px 61px rgb(145, 160, 161), 62px 62px rgb(145, 161, 162), 63px 63px rgb(146, 161, 162), 64px 64px rgb(146, 162, 163), 65px 65px rgb(146, 162, 163), 66px 66px rgb(147, 163, 164), 67px 67px rgb(147, 163, 164), 68px 68px rgb(148, 164, 165), 69px 69px rgb(148, 164, 165), 70px 70px rgb(149, 165, 166);


	-webkit-text-shadow: 1px 1px rgb(119, 132, 133), 2px 2px rgb(119, 132, 133), 3px 3px rgb(120, 133, 134), 4px 4px rgb(120, 133, 134), 5px 5px rgb(121, 134, 135), 6px 6px rgb(121, 134, 135), 7px 7px rgb(122, 135, 136), 8px 8px rgb(122, 135, 136), 9px 9px rgb(122, 136, 137), 10px 10px rgb(123, 136, 137), 11px 11px rgb(123, 137, 138), 12px 12px rgb(124, 137, 138), 13px 13px rgb(124, 138, 139), 14px 14px rgb(125, 138, 139), 15px 15px rgb(125, 139, 140), 16px 16px rgb(125, 139, 140), 17px 17px rgb(126, 140, 141), 18px 18px rgb(126, 140, 141), 19px 19px rgb(127, 140, 141), 20px 20px rgb(127, 141, 142), 21px 21px rgb(128, 141, 142), 22px 22px rgb(128, 142, 143), 23px 23px rgb(128, 142, 143), 24px 24px rgb(129, 143, 144), 25px 25px rgb(129, 143, 144), 26px 26px rgb(130, 144, 145), 27px 27px rgb(130, 144, 145), 28px 28px rgb(131, 145, 146), 29px 29px rgb(131, 145, 146), 30px 30px rgb(131, 146, 147), 31px 31px rgb(132, 146, 147), 32px 32px rgb(132, 147, 148), 33px 33px rgb(133, 147, 148), 34px 34px rgb(133, 148, 149), 35px 35px rgb(134, 148, 149), 36px 36px rgb(134, 148, 149), 37px 37px rgb(134, 149, 150), 38px 38px rgb(135, 149, 150), 39px 39px rgb(135, 150, 151), 40px 40px rgb(136, 150, 151), 41px 41px rgb(136, 151, 152), 42px 42px rgb(137, 151, 152), 43px 43px rgb(137, 152, 153), 44px 44px rgb(137, 152, 153), 45px 45px rgb(138, 153, 154), 46px 46px rgb(138, 153, 154), 47px 47px rgb(139, 154, 155), 48px 48px rgb(139, 154, 155), 49px 49px rgb(140, 155, 156), 50px 50px rgb(140, 155, 156), 51px 51px rgb(140, 156, 157), 52px 52px rgb(141, 156, 157), 53px 53px rgb(141, 156, 157), 54px 54px rgb(142, 157, 158), 55px 55px rgb(142, 157, 158), 56px 56px rgb(143, 158, 159), 57px 57px rgb(143, 158, 159), 58px 58px rgb(143, 159, 160), 59px 59px rgb(144, 159, 160), 60px 60px rgb(144, 160, 161), 61px 61px rgb(145, 160, 161), 62px 62px rgb(145, 161, 162), 63px 63px rgb(146, 161, 162), 64px 64px rgb(146, 162, 163), 65px 65px rgb(146, 162, 163), 66px 66px rgb(147, 163, 164), 67px 67px rgb(147, 163, 164), 68px 68px rgb(148, 164, 165), 69px 69px rgb(148, 164, 165), 70px 70px rgb(149, 165, 166);

	background-color: rgb(149, 165, 166);
}
.shape-8 {
	text-shadow: 1px 1px rgb(198, 145, 33), 2px 2px rgb(199, 146, 33), 3px 3px rgb(200, 146, 33), 4px 4px rgb(200, 147, 33), 5px 5px rgb(201, 147, 33), 6px 6px rgb(202, 148, 33), 7px 7px rgb(202, 148, 33), 8px 8px rgb(203, 149, 33), 9px 9px rgb(204, 149, 34), 10px 10px rgb(205, 150, 34), 11px 11px rgb(205, 150, 34), 12px 12px rgb(206, 151, 34), 13px 13px rgb(207, 151, 34), 14px 14px rgb(207, 152, 34), 15px 15px rgb(208, 152, 34), 16px 16px rgb(209, 153, 34), 17px 17px rgb(209, 153, 34), 18px 18px rgb(210, 154, 35), 19px 19px rgb(211, 154, 35), 20px 20px rgb(212, 155, 35), 21px 21px rgb(212, 155, 35), 22px 22px rgb(213, 156, 35), 23px 23px rgb(214, 156, 35), 24px 24px rgb(214, 157, 35), 25px 25px rgb(215, 157, 35), 26px 26px rgb(216, 158, 35), 27px 27px rgb(216, 158, 36), 28px 28px rgb(217, 159, 36), 29px 29px rgb(218, 159, 36), 30px 30px rgb(219, 160, 36), 31px 31px rgb(219, 160, 36), 32px 32px rgb(220, 161, 36), 33px 33px rgb(221, 161, 36), 34px 34px rgb(221, 162, 36), 35px 35px rgb(222, 163, 37), 36px 36px rgb(223, 163, 37), 37px 37px rgb(223, 164, 37), 38px 38px rgb(224, 164, 37), 39px 39px rgb(225, 165, 37), 40px 40px rgb(226, 165, 37), 41px 41px rgb(226, 166, 37), 42px 42px rgb(227, 166, 37), 43px 43px rgb(228, 167, 37), 44px 44px rgb(228, 167, 38), 45px 45px rgb(229, 168, 38), 46px 46px rgb(230, 168, 38), 47px 47px rgb(230, 169, 38), 48px 48px rgb(231, 169, 38), 49px 49px rgb(232, 170, 38), 50px 50px rgb(233, 170, 38), 51px 51px rgb(233, 171, 38), 52px 52px rgb(234, 171, 38), 53px 53px rgb(235, 172, 39), 54px 54px rgb(235, 172, 39), 55px 55px rgb(236, 173, 39), 56px 56px rgb(237, 173, 39), 57px 57px rgb(237, 174, 39), 58px 58px rgb(238, 174, 39), 59px 59px rgb(239, 175, 39), 60px 60px rgb(240, 175, 39), 61px 61px rgb(240, 176, 39), 62px 62px rgb(241, 176, 40), 63px 63px rgb(242, 177, 40), 64px 64px rgb(242, 177, 40), 65px 65px rgb(243, 178, 40), 66px 66px rgb(244, 178, 40), 67px 67px rgb(244, 179, 40), 68px 68px rgb(245, 179, 40), 69px 69px rgb(246, 180, 40), 70px 70px rgb(247, 181, 41);
	
	
		-moz-text-shadow: 1px 1px rgb(198, 145, 33), 2px 2px rgb(199, 146, 33), 3px 3px rgb(200, 146, 33), 4px 4px rgb(200, 147, 33), 5px 5px rgb(201, 147, 33), 6px 6px rgb(202, 148, 33), 7px 7px rgb(202, 148, 33), 8px 8px rgb(203, 149, 33), 9px 9px rgb(204, 149, 34), 10px 10px rgb(205, 150, 34), 11px 11px rgb(205, 150, 34), 12px 12px rgb(206, 151, 34), 13px 13px rgb(207, 151, 34), 14px 14px rgb(207, 152, 34), 15px 15px rgb(208, 152, 34), 16px 16px rgb(209, 153, 34), 17px 17px rgb(209, 153, 34), 18px 18px rgb(210, 154, 35), 19px 19px rgb(211, 154, 35), 20px 20px rgb(212, 155, 35), 21px 21px rgb(212, 155, 35), 22px 22px rgb(213, 156, 35), 23px 23px rgb(214, 156, 35), 24px 24px rgb(214, 157, 35), 25px 25px rgb(215, 157, 35), 26px 26px rgb(216, 158, 35), 27px 27px rgb(216, 158, 36), 28px 28px rgb(217, 159, 36), 29px 29px rgb(218, 159, 36), 30px 30px rgb(219, 160, 36), 31px 31px rgb(219, 160, 36), 32px 32px rgb(220, 161, 36), 33px 33px rgb(221, 161, 36), 34px 34px rgb(221, 162, 36), 35px 35px rgb(222, 163, 37), 36px 36px rgb(223, 163, 37), 37px 37px rgb(223, 164, 37), 38px 38px rgb(224, 164, 37), 39px 39px rgb(225, 165, 37), 40px 40px rgb(226, 165, 37), 41px 41px rgb(226, 166, 37), 42px 42px rgb(227, 166, 37), 43px 43px rgb(228, 167, 37), 44px 44px rgb(228, 167, 38), 45px 45px rgb(229, 168, 38), 46px 46px rgb(230, 168, 38), 47px 47px rgb(230, 169, 38), 48px 48px rgb(231, 169, 38), 49px 49px rgb(232, 170, 38), 50px 50px rgb(233, 170, 38), 51px 51px rgb(233, 171, 38), 52px 52px rgb(234, 171, 38), 53px 53px rgb(235, 172, 39), 54px 54px rgb(235, 172, 39), 55px 55px rgb(236, 173, 39), 56px 56px rgb(237, 173, 39), 57px 57px rgb(237, 174, 39), 58px 58px rgb(238, 174, 39), 59px 59px rgb(239, 175, 39), 60px 60px rgb(240, 175, 39), 61px 61px rgb(240, 176, 39), 62px 62px rgb(241, 176, 40), 63px 63px rgb(242, 177, 40), 64px 64px rgb(242, 177, 40), 65px 65px rgb(243, 178, 40), 66px 66px rgb(244, 178, 40), 67px 67px rgb(244, 179, 40), 68px 68px rgb(245, 179, 40), 69px 69px rgb(246, 180, 40), 70px 70px rgb(247, 181, 41);


	-webkit-text-shadow: 1px 1px rgb(198, 145, 33), 2px 2px rgb(199, 146, 33), 3px 3px rgb(200, 146, 33), 4px 4px rgb(200, 147, 33), 5px 5px rgb(201, 147, 33), 6px 6px rgb(202, 148, 33), 7px 7px rgb(202, 148, 33), 8px 8px rgb(203, 149, 33), 9px 9px rgb(204, 149, 34), 10px 10px rgb(205, 150, 34), 11px 11px rgb(205, 150, 34), 12px 12px rgb(206, 151, 34), 13px 13px rgb(207, 151, 34), 14px 14px rgb(207, 152, 34), 15px 15px rgb(208, 152, 34), 16px 16px rgb(209, 153, 34), 17px 17px rgb(209, 153, 34), 18px 18px rgb(210, 154, 35), 19px 19px rgb(211, 154, 35), 20px 20px rgb(212, 155, 35), 21px 21px rgb(212, 155, 35), 22px 22px rgb(213, 156, 35), 23px 23px rgb(214, 156, 35), 24px 24px rgb(214, 157, 35), 25px 25px rgb(215, 157, 35), 26px 26px rgb(216, 158, 35), 27px 27px rgb(216, 158, 36), 28px 28px rgb(217, 159, 36), 29px 29px rgb(218, 159, 36), 30px 30px rgb(219, 160, 36), 31px 31px rgb(219, 160, 36), 32px 32px rgb(220, 161, 36), 33px 33px rgb(221, 161, 36), 34px 34px rgb(221, 162, 36), 35px 35px rgb(222, 163, 37), 36px 36px rgb(223, 163, 37), 37px 37px rgb(223, 164, 37), 38px 38px rgb(224, 164, 37), 39px 39px rgb(225, 165, 37), 40px 40px rgb(226, 165, 37), 41px 41px rgb(226, 166, 37), 42px 42px rgb(227, 166, 37), 43px 43px rgb(228, 167, 37), 44px 44px rgb(228, 167, 38), 45px 45px rgb(229, 168, 38), 46px 46px rgb(230, 168, 38), 47px 47px rgb(230, 169, 38), 48px 48px rgb(231, 169, 38), 49px 49px rgb(232, 170, 38), 50px 50px rgb(233, 170, 38), 51px 51px rgb(233, 171, 38), 52px 52px rgb(234, 171, 38), 53px 53px rgb(235, 172, 39), 54px 54px rgb(235, 172, 39), 55px 55px rgb(236, 173, 39), 56px 56px rgb(237, 173, 39), 57px 57px rgb(237, 174, 39), 58px 58px rgb(238, 174, 39), 59px 59px rgb(239, 175, 39), 60px 60px rgb(240, 175, 39), 61px 61px rgb(240, 176, 39), 62px 62px rgb(241, 176, 40), 63px 63px rgb(242, 177, 40), 64px 64px rgb(242, 177, 40), 65px 65px rgb(243, 178, 40), 66px 66px rgb(244, 178, 40), 67px 67px rgb(244, 179, 40), 68px 68px rgb(245, 179, 40), 69px 69px rgb(246, 180, 40), 70px 70px rgb(247, 181, 41);

	background-color: rgb(247, 181, 41);
}
shape-9 {
	text-shadow: 1px 1px rgb(193, 92, 90), 2px 2px rgb(194, 92, 90), 3px 3px rgb(195, 92, 90), 4px 4px rgb(195, 93, 91), 5px 5px rgb(196, 93, 91), 6px 6px rgb(197, 93, 91), 7px 7px rgb(197, 94, 92), 8px 8px rgb(198, 94, 92), 9px 9px rgb(199, 94, 92), 10px 10px rgb(199, 95, 93), 11px 11px rgb(200, 95, 93), 12px 12px rgb(201, 95, 93), 13px 13px rgb(201, 96, 94), 14px 14px rgb(202, 96, 94), 15px 15px rgb(203, 96, 94), 16px 16px rgb(203, 97, 95), 17px 17px rgb(204, 97, 95), 18px 18px rgb(205, 97, 95), 19px 19px rgb(206, 98, 95), 20px 20px rgb(206, 98, 96), 21px 21px rgb(207, 98, 96), 22px 22px rgb(208, 99, 96), 23px 23px rgb(208, 99, 97), 24px 24px rgb(209, 99, 97), 25px 25px rgb(210, 100, 97), 26px 26px rgb(210, 100, 98), 27px 27px rgb(211, 100, 98), 28px 28px rgb(212, 101, 98), 29px 29px rgb(212, 101, 99), 30px 30px rgb(213, 101, 99), 31px 31px rgb(214, 102, 99), 32px 32px rgb(214, 102, 100), 33px 33px rgb(215, 102, 100), 34px 34px rgb(216, 103, 100), 35px 35px rgb(217, 103, 101), 36px 36px rgb(217, 103, 101), 37px 37px rgb(218, 104, 101), 38px 38px rgb(219, 104, 101), 39px 39px rgb(219, 104, 102), 40px 40px rgb(220, 105, 102), 41px 41px rgb(221, 105, 102), 42px 42px rgb(221, 105, 103), 43px 43px rgb(222, 106, 103), 44px 44px rgb(223, 106, 103), 45px 45px rgb(223, 106, 104), 46px 46px rgb(224, 107, 104), 47px 47px rgb(225, 107, 104), 48px 48px rgb(225, 107, 105), 49px 49px rgb(226, 108, 105), 50px 50px rgb(227, 108, 105), 51px 51px rgb(227, 108, 106), 52px 52px rgb(228, 109, 106), 53px 53px rgb(229, 109, 106), 54px 54px rgb(230, 109, 106), 55px 55px rgb(230, 110, 107), 56px 56px rgb(231, 110, 107), 57px 57px rgb(232, 110, 107), 58px 58px rgb(232, 111, 108), 59px 59px rgb(233, 111, 108), 60px 60px rgb(234, 111, 108), 61px 61px rgb(234, 112, 109), 62px 62px rgb(235, 112, 109), 63px 63px rgb(236, 112, 109), 64px 64px rgb(236, 113, 110), 65px 65px rgb(237, 113, 110), 66px 66px rgb(238, 113, 110), 67px 67px rgb(238, 114, 111), 68px 68px rgb(239, 114, 111), 69px 69px rgb(240, 114, 111), 70px 70px rgb(241, 115, 112);
	
		-moz-text-shadow: 1px 1px rgb(193, 92, 90), 2px 2px rgb(194, 92, 90), 3px 3px rgb(195, 92, 90), 4px 4px rgb(195, 93, 91), 5px 5px rgb(196, 93, 91), 6px 6px rgb(197, 93, 91), 7px 7px rgb(197, 94, 92), 8px 8px rgb(198, 94, 92), 9px 9px rgb(199, 94, 92), 10px 10px rgb(199, 95, 93), 11px 11px rgb(200, 95, 93), 12px 12px rgb(201, 95, 93), 13px 13px rgb(201, 96, 94), 14px 14px rgb(202, 96, 94), 15px 15px rgb(203, 96, 94), 16px 16px rgb(203, 97, 95), 17px 17px rgb(204, 97, 95), 18px 18px rgb(205, 97, 95), 19px 19px rgb(206, 98, 95), 20px 20px rgb(206, 98, 96), 21px 21px rgb(207, 98, 96), 22px 22px rgb(208, 99, 96), 23px 23px rgb(208, 99, 97), 24px 24px rgb(209, 99, 97), 25px 25px rgb(210, 100, 97), 26px 26px rgb(210, 100, 98), 27px 27px rgb(211, 100, 98), 28px 28px rgb(212, 101, 98), 29px 29px rgb(212, 101, 99), 30px 30px rgb(213, 101, 99), 31px 31px rgb(214, 102, 99), 32px 32px rgb(214, 102, 100), 33px 33px rgb(215, 102, 100), 34px 34px rgb(216, 103, 100), 35px 35px rgb(217, 103, 101), 36px 36px rgb(217, 103, 101), 37px 37px rgb(218, 104, 101), 38px 38px rgb(219, 104, 101), 39px 39px rgb(219, 104, 102), 40px 40px rgb(220, 105, 102), 41px 41px rgb(221, 105, 102), 42px 42px rgb(221, 105, 103), 43px 43px rgb(222, 106, 103), 44px 44px rgb(223, 106, 103), 45px 45px rgb(223, 106, 104), 46px 46px rgb(224, 107, 104), 47px 47px rgb(225, 107, 104), 48px 48px rgb(225, 107, 105), 49px 49px rgb(226, 108, 105), 50px 50px rgb(227, 108, 105), 51px 51px rgb(227, 108, 106), 52px 52px rgb(228, 109, 106), 53px 53px rgb(229, 109, 106), 54px 54px rgb(230, 109, 106), 55px 55px rgb(230, 110, 107), 56px 56px rgb(231, 110, 107), 57px 57px rgb(232, 110, 107), 58px 58px rgb(232, 111, 108), 59px 59px rgb(233, 111, 108), 60px 60px rgb(234, 111, 108), 61px 61px rgb(234, 112, 109), 62px 62px rgb(235, 112, 109), 63px 63px rgb(236, 112, 109), 64px 64px rgb(236, 113, 110), 65px 65px rgb(237, 113, 110), 66px 66px rgb(238, 113, 110), 67px 67px rgb(238, 114, 111), 68px 68px rgb(239, 114, 111), 69px 69px rgb(240, 114, 111), 70px 70px rgb(241, 115, 112);


	-webkit-text-shadow: 1px 1px rgb(193, 92, 90), 2px 2px rgb(194, 92, 90), 3px 3px rgb(195, 92, 90), 4px 4px rgb(195, 93, 91), 5px 5px rgb(196, 93, 91), 6px 6px rgb(197, 93, 91), 7px 7px rgb(197, 94, 92), 8px 8px rgb(198, 94, 92), 9px 9px rgb(199, 94, 92), 10px 10px rgb(199, 95, 93), 11px 11px rgb(200, 95, 93), 12px 12px rgb(201, 95, 93), 13px 13px rgb(201, 96, 94), 14px 14px rgb(202, 96, 94), 15px 15px rgb(203, 96, 94), 16px 16px rgb(203, 97, 95), 17px 17px rgb(204, 97, 95), 18px 18px rgb(205, 97, 95), 19px 19px rgb(206, 98, 95), 20px 20px rgb(206, 98, 96), 21px 21px rgb(207, 98, 96), 22px 22px rgb(208, 99, 96), 23px 23px rgb(208, 99, 97), 24px 24px rgb(209, 99, 97), 25px 25px rgb(210, 100, 97), 26px 26px rgb(210, 100, 98), 27px 27px rgb(211, 100, 98), 28px 28px rgb(212, 101, 98), 29px 29px rgb(212, 101, 99), 30px 30px rgb(213, 101, 99), 31px 31px rgb(214, 102, 99), 32px 32px rgb(214, 102, 100), 33px 33px rgb(215, 102, 100), 34px 34px rgb(216, 103, 100), 35px 35px rgb(217, 103, 101), 36px 36px rgb(217, 103, 101), 37px 37px rgb(218, 104, 101), 38px 38px rgb(219, 104, 101), 39px 39px rgb(219, 104, 102), 40px 40px rgb(220, 105, 102), 41px 41px rgb(221, 105, 102), 42px 42px rgb(221, 105, 103), 43px 43px rgb(222, 106, 103), 44px 44px rgb(223, 106, 103), 45px 45px rgb(223, 106, 104), 46px 46px rgb(224, 107, 104), 47px 47px rgb(225, 107, 104), 48px 48px rgb(225, 107, 105), 49px 49px rgb(226, 108, 105), 50px 50px rgb(227, 108, 105), 51px 51px rgb(227, 108, 106), 52px 52px rgb(228, 109, 106), 53px 53px rgb(229, 109, 106), 54px 54px rgb(230, 109, 106), 55px 55px rgb(230, 110, 107), 56px 56px rgb(231, 110, 107), 57px 57px rgb(232, 110, 107), 58px 58px rgb(232, 111, 108), 59px 59px rgb(233, 111, 108), 60px 60px rgb(234, 111, 108), 61px 61px rgb(234, 112, 109), 62px 62px rgb(235, 112, 109), 63px 63px rgb(236, 112, 109), 64px 64px rgb(236, 113, 110), 65px 65px rgb(237, 113, 110), 66px 66px rgb(238, 113, 110), 67px 67px rgb(238, 114, 111), 68px 68px rgb(239, 114, 111), 69px 69px rgb(240, 114, 111), 70px 70px rgb(241, 115, 112);

	background-color: rgb(241, 115, 112);
}
.shape-10 {
	text-shadow: 1px 1px rgb(178, 57, 50), 2px 2px rgb(179, 57, 50), 3px 3px rgb(179, 57, 50), 4px 4px rgb(180, 57, 50), 5px 5px rgb(181, 58, 50), 6px 6px rgb(181, 58, 51), 7px 7px rgb(182, 58, 51), 8px 8px rgb(183, 58, 51), 9px 9px rgb(183, 58, 51), 10px 10px rgb(184, 59, 51), 11px 11px rgb(184, 59, 51), 12px 12px rgb(185, 59, 52), 13px 13px rgb(186, 59, 52), 14px 14px rgb(186, 59, 52), 15px 15px rgb(187, 60, 52), 16px 16px rgb(188, 60, 52), 17px 17px rgb(188, 60, 52), 18px 18px rgb(189, 60, 53), 19px 19px rgb(189, 60, 53), 20px 20px rgb(190, 61, 53), 21px 21px rgb(191, 61, 53), 22px 22px rgb(191, 61, 53), 23px 23px rgb(192, 61, 53), 24px 24px rgb(193, 61, 54), 25px 25px rgb(193, 62, 54), 26px 26px rgb(194, 62, 54), 27px 27px rgb(194, 62, 54), 28px 28px rgb(195, 62, 54), 29px 29px rgb(196, 62, 54), 30px 30px rgb(196, 63, 55), 31px 31px rgb(197, 63, 55), 32px 32px rgb(198, 63, 55), 33px 33px rgb(198, 63, 55), 34px 34px rgb(199, 63, 55), 35px 35px rgb(200, 64, 56), 36px 36px rgb(200, 64, 56), 37px 37px rgb(201, 64, 56), 38px 38px rgb(201, 64, 56), 39px 39px rgb(202, 64, 56), 40px 40px rgb(203, 65, 56), 41px 41px rgb(203, 65, 57), 42px 42px rgb(204, 65, 57), 43px 43px rgb(205, 65, 57), 44px 44px rgb(205, 65, 57), 45px 45px rgb(206, 66, 57), 46px 46px rgb(206, 66, 57), 47px 47px rgb(207, 66, 58), 48px 48px rgb(208, 66, 58), 49px 49px rgb(208, 66, 58), 50px 50px rgb(209, 67, 58), 51px 51px rgb(210, 67, 58), 52px 52px rgb(210, 67, 58), 53px 53px rgb(211, 67, 59), 54px 54px rgb(211, 67, 59), 55px 55px rgb(212, 68, 59), 56px 56px rgb(213, 68, 59), 57px 57px rgb(213, 68, 59), 58px 58px rgb(214, 68, 59), 59px 59px rgb(215, 68, 60), 60px 60px rgb(215, 69, 60), 61px 61px rgb(216, 69, 60), 62px 62px rgb(216, 69, 60), 63px 63px rgb(217, 69, 60), 64px 64px rgb(218, 69, 60), 65px 65px rgb(218, 70, 61), 66px 66px rgb(219, 70, 61), 67px 67px rgb(220, 70, 61), 68px 68px rgb(220, 70, 61), 69px 69px rgb(221, 70, 61), 70px 70px rgb(222, 71, 62);
		
		-moz-text-shadow: 1px 1px rgb(178, 57, 50), 2px 2px rgb(179, 57, 50), 3px 3px rgb(179, 57, 50), 4px 4px rgb(180, 57, 50), 5px 5px rgb(181, 58, 50), 6px 6px rgb(181, 58, 51), 7px 7px rgb(182, 58, 51), 8px 8px rgb(183, 58, 51), 9px 9px rgb(183, 58, 51), 10px 10px rgb(184, 59, 51), 11px 11px rgb(184, 59, 51), 12px 12px rgb(185, 59, 52), 13px 13px rgb(186, 59, 52), 14px 14px rgb(186, 59, 52), 15px 15px rgb(187, 60, 52), 16px 16px rgb(188, 60, 52), 17px 17px rgb(188, 60, 52), 18px 18px rgb(189, 60, 53), 19px 19px rgb(189, 60, 53), 20px 20px rgb(190, 61, 53), 21px 21px rgb(191, 61, 53), 22px 22px rgb(191, 61, 53), 23px 23px rgb(192, 61, 53), 24px 24px rgb(193, 61, 54), 25px 25px rgb(193, 62, 54), 26px 26px rgb(194, 62, 54), 27px 27px rgb(194, 62, 54), 28px 28px rgb(195, 62, 54), 29px 29px rgb(196, 62, 54), 30px 30px rgb(196, 63, 55), 31px 31px rgb(197, 63, 55), 32px 32px rgb(198, 63, 55), 33px 33px rgb(198, 63, 55), 34px 34px rgb(199, 63, 55), 35px 35px rgb(200, 64, 56), 36px 36px rgb(200, 64, 56), 37px 37px rgb(201, 64, 56), 38px 38px rgb(201, 64, 56), 39px 39px rgb(202, 64, 56), 40px 40px rgb(203, 65, 56), 41px 41px rgb(203, 65, 57), 42px 42px rgb(204, 65, 57), 43px 43px rgb(205, 65, 57), 44px 44px rgb(205, 65, 57), 45px 45px rgb(206, 66, 57), 46px 46px rgb(206, 66, 57), 47px 47px rgb(207, 66, 58), 48px 48px rgb(208, 66, 58), 49px 49px rgb(208, 66, 58), 50px 50px rgb(209, 67, 58), 51px 51px rgb(210, 67, 58), 52px 52px rgb(210, 67, 58), 53px 53px rgb(211, 67, 59), 54px 54px rgb(211, 67, 59), 55px 55px rgb(212, 68, 59), 56px 56px rgb(213, 68, 59), 57px 57px rgb(213, 68, 59), 58px 58px rgb(214, 68, 59), 59px 59px rgb(215, 68, 60), 60px 60px rgb(215, 69, 60), 61px 61px rgb(216, 69, 60), 62px 62px rgb(216, 69, 60), 63px 63px rgb(217, 69, 60), 64px 64px rgb(218, 69, 60), 65px 65px rgb(218, 70, 61), 66px 66px rgb(219, 70, 61), 67px 67px rgb(220, 70, 61), 68px 68px rgb(220, 70, 61), 69px 69px rgb(221, 70, 61), 70px 70px rgb(222, 71, 62);


	-webkit-text-shadow: 1px 1px rgb(178, 57, 50), 2px 2px rgb(179, 57, 50), 3px 3px rgb(179, 57, 50), 4px 4px rgb(180, 57, 50), 5px 5px rgb(181, 58, 50), 6px 6px rgb(181, 58, 51), 7px 7px rgb(182, 58, 51), 8px 8px rgb(183, 58, 51), 9px 9px rgb(183, 58, 51), 10px 10px rgb(184, 59, 51), 11px 11px rgb(184, 59, 51), 12px 12px rgb(185, 59, 52), 13px 13px rgb(186, 59, 52), 14px 14px rgb(186, 59, 52), 15px 15px rgb(187, 60, 52), 16px 16px rgb(188, 60, 52), 17px 17px rgb(188, 60, 52), 18px 18px rgb(189, 60, 53), 19px 19px rgb(189, 60, 53), 20px 20px rgb(190, 61, 53), 21px 21px rgb(191, 61, 53), 22px 22px rgb(191, 61, 53), 23px 23px rgb(192, 61, 53), 24px 24px rgb(193, 61, 54), 25px 25px rgb(193, 62, 54), 26px 26px rgb(194, 62, 54), 27px 27px rgb(194, 62, 54), 28px 28px rgb(195, 62, 54), 29px 29px rgb(196, 62, 54), 30px 30px rgb(196, 63, 55), 31px 31px rgb(197, 63, 55), 32px 32px rgb(198, 63, 55), 33px 33px rgb(198, 63, 55), 34px 34px rgb(199, 63, 55), 35px 35px rgb(200, 64, 56), 36px 36px rgb(200, 64, 56), 37px 37px rgb(201, 64, 56), 38px 38px rgb(201, 64, 56), 39px 39px rgb(202, 64, 56), 40px 40px rgb(203, 65, 56), 41px 41px rgb(203, 65, 57), 42px 42px rgb(204, 65, 57), 43px 43px rgb(205, 65, 57), 44px 44px rgb(205, 65, 57), 45px 45px rgb(206, 66, 57), 46px 46px rgb(206, 66, 57), 47px 47px rgb(207, 66, 58), 48px 48px rgb(208, 66, 58), 49px 49px rgb(208, 66, 58), 50px 50px rgb(209, 67, 58), 51px 51px rgb(210, 67, 58), 52px 52px rgb(210, 67, 58), 53px 53px rgb(211, 67, 59), 54px 54px rgb(211, 67, 59), 55px 55px rgb(212, 68, 59), 56px 56px rgb(213, 68, 59), 57px 57px rgb(213, 68, 59), 58px 58px rgb(214, 68, 59), 59px 59px rgb(215, 68, 60), 60px 60px rgb(215, 69, 60), 61px 61px rgb(216, 69, 60), 62px 62px rgb(216, 69, 60), 63px 63px rgb(217, 69, 60), 64px 64px rgb(218, 69, 60), 65px 65px rgb(218, 70, 61), 66px 66px rgb(219, 70, 61), 67px 67px rgb(220, 70, 61), 68px 68px rgb(220, 70, 61), 69px 69px rgb(221, 70, 61), 70px 70px rgb(222, 71, 62);

	
	background-color: rgb(222, 71, 62);
}

.shape-11 {
   background-color: rgb(212, 114, 161);
   text-shadow: 1px 1px rgb(187, 100, 142), 2px 2px rgb(187, 100, 142), 3px 3px rgb(187, 100, 142), 4px 4px rgb(187, 100, 142), 5px 5px rgb(187, 100, 142), 6px 6px rgb(187, 100, 142), 7px 7px rgb(187, 100, 142), 8px 8px rgb(187, 100, 142), 9px 9px rgb(187, 100, 142), 10px 10px rgb(187, 100, 142), 11px 11px rgb(187, 100, 142), 12px 12px rgb(187, 100, 142), 13px 13px rgb(187, 100, 142), 14px 14px rgb(187, 100, 142), 15px 15px rgb(187, 100, 142), 16px 16px rgb(187, 100, 142), 17px 17px rgb(187, 100, 142), 18px 18px rgb(187, 100, 142), 19px 19px rgb(187, 100, 142), 20px 20px rgb(187, 100, 142), 21px 21px rgb(187, 100, 142), 22px 22px rgb(187, 100, 142), 23px 23px rgb(187, 100, 142), 24px 24px rgb(187, 100, 142), 25px 25px rgb(187, 100, 142), 26px 26px rgb(187, 100, 142), 27px 27px rgb(187, 100, 142), 28px 28px rgb(187, 100, 142), 29px 29px rgb(187, 100, 142), 30px 30px rgb(187, 100, 142), 31px 31px rgb(187, 100, 142), 32px 32px rgb(187, 100, 142), 33px 33px rgb(187, 100, 142), 34px 34px rgb(187, 100, 142), 35px 35px rgb(187, 100, 142), 36px 36px rgb(187, 100, 142), 37px 37px rgb(187, 100, 142), 38px 38px rgb(187, 100, 142), 39px 39px rgb(187, 100, 142), 40px 40px rgb(187, 100, 142), 41px 41px rgb(187, 100, 142), 42px 42px rgb(187, 100, 142), 43px 43px rgb(187, 100, 142), 44px 44px rgb(187, 100, 142), 45px 45px rgb(187, 100, 142), 46px 46px rgb(187, 100, 142), 47px 47px rgb(187, 100, 142), 48px 48px rgb(187, 100, 142), 49px 49px rgb(187, 100, 142), 50px 50px rgb(187, 100, 142), 51px 51px rgb(187, 100, 142), 52px 52px rgb(187, 100, 142), 53px 53px rgb(187, 100, 142), 54px 54px rgb(187, 100, 142), 55px 55px rgb(187, 100, 142), 56px 56px rgb(187, 100, 142), 57px 57px rgb(187, 100, 142), 58px 58px rgb(187, 100, 142), 59px 59px rgb(188, 100, 142), 60px 60px rgb(188, 100, 143), 61px 61px rgb(188, 101, 143), 62px 62px rgb(189, 101, 143), 63px 63px rgb(189, 101, 143), 64px 64px rgb(189, 101, 144), 65px 65px rgb(189, 101, 144), 66px 66px rgb(190, 101, 144), 67px 67px rgb(190, 102, 144), 68px 68px rgb(190, 102, 144), 69px 69px rgb(191, 102, 145), 70px 70px rgb(191, 102, 145), 71px 71px rgb(191, 102, 145), 72px 72px rgb(192, 102, 145), 73px 73px rgb(192, 103, 146), 74px 74px rgb(192, 103, 146), 75px 75px rgb(192, 103, 146), 76px 76px rgb(193, 103, 146), 77px 77px rgb(193, 103, 146), 78px 78px rgb(193, 103, 147), 79px 79px rgb(194, 104, 147), 80px 80px rgb(194, 104, 147), 81px 81px rgb(194, 104, 147), 82px 82px rgb(195, 104, 148), 83px 83px rgb(195, 104, 148), 84px 84px rgb(195, 104, 148), 85px 85px rgb(195, 105, 148), 86px 86px rgb(196, 105, 149), 87px 87px rgb(196, 105, 149), 88px 88px rgb(196, 105, 149), 89px 89px rgb(197, 105, 149), 90px 90px rgb(197, 105, 149), 91px 91px rgb(197, 106, 150), 92px 92px rgb(198, 106, 150), 93px 93px rgb(198, 106, 150), 94px 94px rgb(198, 106, 150), 95px 95px rgb(198, 106, 151), 96px 96px rgb(199, 106, 151), 97px 97px rgb(199, 107, 151), 98px 98px rgb(199, 107, 151), 99px 99px rgb(200, 107, 151), 100px 100px rgb(200, 107, 152), 101px 101px rgb(200, 107, 152), 102px 102px rgb(200, 107, 152), 103px 103px rgb(201, 108, 152), 104px 104px rgb(201, 108, 153), 105px 105px rgb(201, 108, 153), 106px 106px rgb(202, 108, 153), 107px 107px rgb(202, 108, 153), 108px 108px rgb(202, 108, 153), 109px 109px rgb(203, 109, 154), 110px 110px rgb(203, 109, 154), 111px 111px rgb(203, 109, 154), 112px 112px rgb(203, 109, 154), 113px 113px rgb(204, 109, 155), 114px 114px rgb(204, 109, 155), 115px 115px rgb(204, 110, 155), 116px 116px rgb(205, 110, 155), 117px 117px rgb(205, 110, 156), 118px 118px rgb(205, 110, 156), 119px 119px rgb(206, 110, 156), 120px 120px rgb(206, 110, 156), 121px 121px rgb(206, 111, 156), 122px 122px rgb(206, 111, 157), 123px 123px rgb(207, 111, 157), 124px 124px rgb(207, 111, 157), 125px 125px rgb(207, 111, 157), 126px 126px rgb(208, 111, 158), 127px 127px rgb(208, 112, 158), 128px 128px rgb(208, 112, 158), 129px 129px rgb(209, 112, 158), 130px 130px rgb(209, 112, 158), 131px 131px rgb(209, 112, 159), 132px 132px rgb(209, 112, 159), 133px 133px rgb(210, 113, 159), 134px 134px rgb(210, 113, 159), 135px 135px rgb(210, 113, 160), 136px 136px rgb(211, 113, 160), 137px 137px rgb(211, 113, 160), 138px 138px rgb(211, 113, 160), 139px 139px rgb(212, 114, 161);
}
