html{}
a{text-decoration:none}
h1, h2, h3, h4{margin:2px}
p{margin:0px}
table{width:100%}
table td{padding:3px 3px}
table th{border-bottom:1px dashed #000;border-top:1px dashed #000}
.border-top{border-top:1px dashed #000}
.border-all{border:0px dashed #000;text-align:center;padding:2px 10px;font-weight:bold;float:left}
.text-right{text-align:right}
.text-left{text-align:left}
.text-center{text-align:center}
.border_right_dashed{border-right:1px dashed #000}

.border_top{border-top:1px dashed #000!important}
.border_bottom{border-bottom:1px dashed #000}
.page_break{
	page-break-inside:avoid; page-break-after:always;
	page-break-after:always}
	
	
.bordered_table {   border-collapse: collapse;}
.bordered_table  th{   border: 1px solid #c1c1c1;}
.bordered_table  td {   border: 1px solid #c1c1c1;}

.no-border{border:none;}
.no-border th{border:none!important}
.no-border-bottom th{border-bottom:none!important}
.no-border tr{border:none!important}
.no-border td{border:none!important}
.gr_total {font-style: italic;	font-size: 11px}
.gr_total td {padding-left: 20px;}
.small{font-size:70%}