
 
 .basictable th {
   background: #56a2cf;
   color: #ffffff;
   text-transform: uppercase;
   border:1px solid #ddd;
   font-size: 12px;
 }
 
.basictable tr td {
   background: #eaf3f5;
   word-wrap: break-word;
   border: 1px solid #ddd;
 }
 
.basictable tr:nth-of-type(2n+2) td {
   background: #ffffff;
 }
 
.basictable.bt tfoot th,
.basictable.bt tfoot td,
.basictable.bt tbody td {
   padding: 0;
 }
.basictable.bt tbody td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 150px;
    display: inline-block;
}
.basictable.bt tfoot th:before,
.basictable.bt tfoot td:before,
.basictable.bt tbody td:before {
   background: #56a2cf;
   color: white;
   margin-right: 20px;
   padding: 2px 10px;
 }
 
.basictable.bt tfoot th .bt-content,
.basictable.bt tfoot td .bt-content,
.basictable.bt tbody td .bt-content {
   display: inline-block;
   padding: 2px 5px;
 }
 
.basictable.bt tfoot th:first-of-type:before,
.basictable.bt tfoot th:first-of-type .bt-content,
.basictable.bt tfoot td:first-of-type:before,
.basictable.bt tfoot td:first-of-type .bt-content,
.basictable.bt tbody td:first-of-type:before,
.basictable.bt tbody td:first-of-type .bt-content {
   padding-top: 10px;
 }
 
.basictable.bt tfoot th:last-of-type:before,
.basictable.bt tfoot th:last-of-type .bt-content,
.basictable.bt tfoot td:last-of-type:before,
.basictable.bt tfoot td:last-of-type .bt-content,
.basictable.bt tbody td:last-of-type:before,
.basictable.bt tbody td:last-of-type .bt-content {
   padding-bottom: 10px;
 }
 