#DataTables_Table_0_length{
	width:32%;
    float:left;
	padding-top:2%;
	
}
#DataTables_Table_0_filter{
	width:32%;
	float:right;
	padding-top:2%;
}

label.error {
    color: red;
}
.floating-container{
	z-index : 9999 !important;
}
.compose_mail{
	height: 500px;
}